BODY {
	FONT-SIZE: 62.5%; BACKGROUND: #fff; COLOR: #111
}
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#header {
	CLEAR: both; BORDER-BOTTOM: #ddd 3px double
}
.post_box {
	CLEAR: both; BORDER-TOP: #bbb 1px dotted
}
.teasers_box {
	CLEAR: both; BORDER-TOP: #bbb 1px dotted
}
.teasers_box .post_box {
	CLEAR: none; MARGIN: 0px; BORDER-TOP-STYLE: none
}
.teaser {
	FLOAT: left
}
.teaser_right {
	FLOAT: right
}
.top {
	BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
#footer {
	CLEAR: both; BORDER-TOP: #ddd 3px double; COLOR: #888; TEXT-ALIGN: right
}
A {
	COLOR: #2361a1; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: none
}
A.post_image_link {
	outline: none
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
BLOCKQUOTE {
	BORDER-LEFT: #ddd 1px solid; COLOR: #666
}
abbr {
	TEXT-TRANSFORM: uppercase; CURSOR: help; LINE-HEIGHT: 1em; LETTER-SPACING: 1px; BORDER-BOTTOM-STYLE: none
}
ACRONYM {
	TEXT-TRANSFORM: uppercase; CURSOR: help; LINE-HEIGHT: 1em; LETTER-SPACING: 1px; BORDER-BOTTOM-STYLE: none
}
SUB {
	LINE-HEIGHT: 0.5em
}
SUP {
	LINE-HEIGHT: 0.5em
}
CODE {
	BACKGROUND: #eee; LINE-HEIGHT: 1em; FONT-FAMILY: Consolas, "Andale Mono", Courier, "Courier New"
}
PRE {
	CLEAR: both; BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #eee; OVERFLOW: auto; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; FONT-FAMILY: Consolas, "Andale Mono", Courier, "Courier New"
}
P.center {
	TEXT-ALIGN: center! important
}
P.bottom {
	MARGIN: 0px
}
.remove_bottom_margin {
	MARGIN-BOTTOM: 0px! important
}
INPUT {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #aaa 1px solid; FONT-SIZE: 1em; BACKGROUND: #eee; BORDER-LEFT: #aaa 1px solid; COLOR: #444; BORDER-BOTTOM: #ddd 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #aaa 1px solid; FONT-SIZE: 1em; BACKGROUND: #eee; BORDER-LEFT: #aaa 1px solid; COLOR: #444; BORDER-BOTTOM: #ddd 1px solid
}
INPUT:unknown {
	BORDER-LEFT-COLOR: #777; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #777; BORDER-RIGHT-COLOR: #ccc
}
TEXTAREA:unknown {
	BORDER-LEFT-COLOR: #777; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #777; BORDER-RIGHT-COLOR: #ccc
}
.format_text .text_input {
	WIDTH: 45%
}
#commentform P .text_input {
	WIDTH: 45%
}
.sidebar .text_input {
	WIDTH: 95%
}
INPUT.form_submit {
	BORDER-RIGHT: #999 3px double; BORDER-TOP: #ccc 3px double; FONT-WEIGHT: bold; BACKGROUND: url(images/submit-bg.gif); BORDER-LEFT: #ccc 3px double; CURSOR: pointer; COLOR: #111; BORDER-BOTTOM: #999 3px double
}
INPUT.form_submit:hover {
	COLOR: #090
}
IMG.alignleft {
	FLOAT: left
}
IMG.left {
	FLOAT: left
}
IMG.alignright {
	FLOAT: right
}
IMG.right {
	FLOAT: right
}
IMG.aligncenter {
	CLEAR: both; DISPLAY: block; FLOAT: none; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
IMG.center {
	CLEAR: both; DISPLAY: block; FLOAT: none; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
IMG.alignnone {
	CLEAR: both; DISPLAY: block
}
IMG.block {
	CLEAR: both; DISPLAY: block
}
IMG.frame {
	BORDER-LEFT-COLOR: #ddd; BACKGROUND: #eee; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #ddd; BORDER-BOTTOM-STYLE: solid
}
IMG.stack {
	CLEAR: none! important
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 1em
}
H2 A {
	COLOR: #111
}
H2 A:hover {
	COLOR: #2361a1
}
#content #archive_info H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 1.8em; LINE-HEIGHT: 1em
}
.sidebar H3 {
	COLOR: #555
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em
}
.headline_meta {
	COLOR: #888; FONT-STYLE: italic
}
.headline_meta SPAN {
	TEXT-TRANSFORM: uppercase; FONT-STYLE: normal; LETTER-SPACING: 1px
}
.headline_meta abbr {
	TEXT-TRANSFORM: uppercase; FONT-STYLE: normal; LETTER-SPACING: 1px
}
.headline_meta A {
	COLOR: #888; BORDER-BOTTOM: #eee 1px solid
}
.headline_meta A:hover {
	COLOR: #111
}
UL#tabs {
	BORDER-RIGHT: #ddd 0px solid; BORDER-TOP: #ddd 0px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; LIST-STYLE-TYPE: none
}
UL#tabs LI {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #efefef; FLOAT: left; MARGIN-BOTTOM: -0.1em; BORDER-LEFT: #ddd 0px solid; BORDER-BOTTOM: #ddd 1px solid
}
UL#tabs LI.current_page_item {
	BACKGROUND: #fff; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.1em
}
UL#tabs LI.current-cat {
	BACKGROUND: #fff; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.1em
}
UL#tabs LI A {
	DISPLAY: block; TEXT-TRANSFORM: uppercase; COLOR: #111; LINE-HEIGHT: 1em; LETTER-SPACING: 2px
}
UL#tabs LI A:hover {
	COLOR: #111; TEXT-DECORATION: underline
}
UL#tabs LI.current_page_item A {
	CURSOR: default
}
UL#tabs LI.current-cat A {
	CURSOR: default
}
UL#tabs LI.current_page_item A:hover {
	TEXT-DECORATION: none
}
UL#tabs LI.current-cat A:hover {
	TEXT-DECORATION: none
}
UL#tabs LI.rss {
	PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL#tabs LI.rss A {
	PADDING-RIGHT: 16px; BACKGROUND: url(images/icon-rss.gif) no-repeat 100% 50%
}
#header #logo {
	FONT-WEIGHT: bold
}
#header #logo A {
	COLOR: #111
}
#header #logo A:hover {
	COLOR: #2361a1
}
#header #tagline {
	FONT-WEIGHT: normal; COLOR: #888
}
.format_text A {
	TEXT-DECORATION: underline
}
.format_text A:hover {
	TEXT-DECORATION: none
}
.format_text P.note {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #f5f5f5; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.format_text P.alert {
	BORDER-RIGHT: #e5e597 1px solid; BORDER-TOP: #e5e597 1px solid; BACKGROUND: #ffffa0; BORDER-LEFT: #e5e597 1px solid; BORDER-BOTTOM: #e5e597 1px solid
}
.format_text .drop_cap {
	FLOAT: left; COLOR: #888
}
.format_text UL {
	LIST-STYLE-TYPE: square
}
.format_text DT {
	FONT-WEIGHT: bold
}
.format_text BLOCKQUOTE.right {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.format_text BLOCKQUOTE.left {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.format_text BLOCKQUOTE.right {
	FLOAT: right
}
.format_text BLOCKQUOTE.left {
	FLOAT: left
}
.format_text BLOCKQUOTE.right P {
	MARGIN: 0px
}
.format_text BLOCKQUOTE.left P {
	MARGIN: 0px
}
.format_text .ad {
	CLEAR: right; FLOAT: right
}
.format_text .ad_left {
	CLEAR: left; FLOAT: left
}
.format_text .to_comments {
	CLEAR: both; COLOR: #666
}
.format_text .to_comments SPAN {
	COLOR: #111
}
.format_text .to_comments SPAN.bracket {
	COLOR: #ccc
}
.format_text .to_comments A {
	COLOR: #666; TEXT-DECORATION: none
}
.format_text .to_comments A:hover {
	COLOR: #111; TEXT-DECORATION: underline
}
.post_tags {
	COLOR: #666
}
.post_tags A {
	TEXT-DECORATION: none
}
.post_tags A:hover {
	TEXT-DECORATION: underline
}
#feature_box {
	BACKGROUND: #eee; BORDER-BOTTOM: #ddd 2px solid
}
.teaser A.teaser_link {
	DISPLAY: block
}
.teaser A.teaser_link:hover {
	TEXT-DECORATION: underline
}
.teaser .teaser_author {
	COLOR: #888; FONT-STYLE: italic
}
.teaser .teaser_author .author {
	TEXT-TRANSFORM: uppercase; FONT-STYLE: normal; LETTER-SPACING: 1px
}
.teaser .teaser_date {
	COLOR: #888
}
.teaser .edit_post {
	COLOR: #888; LETTER-SPACING: 1px
}
.teaser .teaser_author A {
	TEXT-TRANSFORM: uppercase; COLOR: #888; BORDER-BOTTOM: #eee 1px solid; LETTER-SPACING: 1px
}
.teaser A.teaser_comments {
	TEXT-TRANSFORM: uppercase; COLOR: #888; BORDER-BOTTOM: #eee 1px solid; LETTER-SPACING: 1px
}
.teaser A.teaser_category {
	TEXT-TRANSFORM: uppercase; COLOR: #888; BORDER-BOTTOM: #eee 1px solid; LETTER-SPACING: 1px
}
.teaser .edit_post A {
	TEXT-TRANSFORM: uppercase; COLOR: #888; BORDER-BOTTOM: #eee 1px solid; LETTER-SPACING: 1px
}
.teaser .teaser_author A:hover {
	COLOR: #111
}
.teaser A.teaser_comments:hover {
	COLOR: #111
}
.teaser A.teaser_category:hover {
	COLOR: #111
}
.teaser .edit_post A:hover {
	COLOR: #111
}
.teaser .teaser_author A {
	FONT-STYLE: normal
}
.teaser .format_teaser A {
	TEXT-DECORATION: underline
}
.teaser .format_teaser A:hover {
	TEXT-DECORATION: none
}
#archive_info {
	BORDER-BOTTOM: #ddd 2px solid
}
#archive_info P {
	TEXT-TRANSFORM: uppercase; LETTER-SPACING: 2px
}
.prev_next {
	CLEAR: both; BORDER-TOP: #ddd 2px solid; TEXT-TRANSFORM: uppercase; COLOR: #666; LETTER-SPACING: 2px
}
.prev_next .next {
	TEXT-ALIGN: right
}
.prev_next .floated {
	FLOAT: left
}
.prev_next A {
	TEXT-DECORATION: none
}
.prev_next A:hover {
	TEXT-DECORATION: underline
}
.post_nav A {
	TEXT-TRANSFORM: none; LETTER-SPACING: normal
}
#multimedia_box {
	WIDTH: 100%
}
#image_box {
	PADDING-RIGHT: 1.1em; PADDING-LEFT: 1.1em; BACKGROUND: #eee; PADDING-BOTTOM: 1.1em; PADDING-TOP: 1.1em; BORDER-BOTTOM: #ddd 1px solid
}
#image_box IMG {
	BORDER-RIGHT: #bbb 0.1em solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #bbb 0.1em solid; DISPLAY: block; PADDING-LEFT: 0.1em; BACKGROUND: #fff; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #bbb 0.1em solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #bbb 0.1em solid
}
#video_box {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; BACKGROUND: #000; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
#custom_box {
	PADDING-RIGHT: 1.1em; PADDING-LEFT: 1.1em; BACKGROUND: #eee; PADDING-BOTTOM: 1.1em; PADDING-TOP: 1.1em; BORDER-BOTTOM: #ddd 1px solid
}
.sidebar A:hover {
	TEXT-DECORATION: underline
}
UL.sidebar_list {
	LIST-STYLE-TYPE: none
}
LI.widget {
	WIDTH: 100%
}
LI.centered {
	TEXT-ALIGN: center
}
LI.widget P A {
	TEXT-DECORATION: underline
}
LI.widget P A:hover {
	TEXT-DECORATION: none
}
LI.widget UL {
	LIST-STYLE-TYPE: none
}
LI.widget UL LI .num_comments {
	COLOR: #111
}
LI.widget .widget_box {
	BORDER-LEFT-COLOR: #addde6; BACKGROUND: #e3f0f2; BORDER-BOTTOM-COLOR: #addde6; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #addde6; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #addde6; BORDER-BOTTOM-STYLE: solid
}
.thesis_widget_subscriptions .sub_rss A {
	PADDING-LEFT: 20px; BACKGROUND: url(http://c.cyberciti.biz/cbzcache/images/icon-rss.gif) no-repeat 0px 50%
}
.thesis_widget_subscriptions .sub_email A {
	PADDING-LEFT: 20px; BACKGROUND: url(http://c.cyberciti.biz/cbzcache/images/icon-email.gif) no-repeat 0px 50%
}
UNKNOWN {
	WIDTH: 95%
}
UNKNOWN {
	BORDER-RIGHT: #999 3px double; BORDER-TOP: #ccc 3px double; FONT-WEIGHT: bold; BACKGROUND: url(images/submit-bg.gif); BORDER-LEFT: #ccc 3px double; CURSOR: pointer; COLOR: #111; BORDER-BOTTOM: #999 3px double
}
UNKNOWN {
	COLOR: #2361a1
}
#calendar_wrap {
	PADDING-RIGHT: 1%; PADDING-LEFT: 1%; PADDING-BOTTOM: 0px; WIDTH: 98%; PADDING-TOP: 0px
}
#calendar_wrap A {
	FONT-WEIGHT: bold
}
#calendar_wrap A:hover {
	BACKGROUND: #ddd; TEXT-DECORATION: none
}
TABLE#wp-calendar {
	WIDTH: 98%; BORDER-COLLAPSE: collapse
}
TABLE#wp-calendar CAPTION {
	FONT-WEIGHT: normal; BACKGROUND: #e5e5e5; TEXT-TRANSFORM: uppercase; LETTER-SPACING: 2px
}
TABLE#wp-calendar TH {
	BACKGROUND: #f2f2f2; WIDTH: 14%; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center
}
TABLE#wp-calendar TD {
	WIDTH: 14%; COLOR: #888; TEXT-ALIGN: center
}
TABLE#wp-calendar TD#next {
	TEXT-TRANSFORM: uppercase; WIDTH: 45%; LETTER-SPACING: 1px
}
TABLE#wp-calendar TD#prev {
	TEXT-TRANSFORM: uppercase; WIDTH: 45%; LETTER-SPACING: 1px
}
TABLE#wp-calendar TD#next {
	TEXT-ALIGN: right
}
TABLE#wp-calendar TD#prev {
	TEXT-ALIGN: left
}
.comments_intro P {
	COLOR: #666
}
.comments_intro A {
	TEXT-DECORATION: underline
}
.comments_intro A:hover {
	TEXT-DECORATION: none
}
.comments_intro SPAN {
	COLOR: #111
}
.comments_intro SPAN.bracket {
	COLOR: #ccc
}
DL#comment_list {
	BORDER-TOP: #bbb 1px dotted
}
DL#comment_list DT A:hover {
	TEXT-DECORATION: underline
}
DL#comment_list DT .comment_author {
	FONT-WEIGHT: bold
}
.avatar IMG {
	FLOAT: right
}
.comment_time {
	COLOR: #888
}
.edit_comment {
	COLOR: #888
}
.comment_time A {
	COLOR: #888
}
.edit_comment A {
	COLOR: #888
}
.comment_time A:hover {
	COLOR: #888
}
.edit_comment A:hover {
	COLOR: #888
}
.comment_num {
	FLOAT: right
}
DL#comment_list .comment_num A {
	FONT-WEIGHT: bold; COLOR: #aaa
}
DL#comment_list .comment_num A:hover {
	BACKGROUND: #aaa; COLOR: #fff; TEXT-DECORATION: none
}
DL#comment_list DD {
	BORDER-BOTTOM: #bbb 1px dotted
}
A.comment_link {
	COLOR: #111; BORDER-BOTTOM: #bbb 1px solid; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
A.comment_link:hover {
	BORDER-BOTTOM-COLOR: #111; COLOR: #111
}
.author_comment {
	BACKGROUND: #e7f8fb
}
DL#trackback_list {
	BORDER-TOP: #bbb 1px dotted; PADDING-LEFT: 1.1em
}
DL#trackback_list DT A {
	COLOR: #111
}
DL#trackback_list DT A:hover {
	COLOR: #111; TEXT-DECORATION: underline
}
DL#trackback_list DD {
	COLOR: #888
}
.comments_closed P {
	TEXT-TRANSFORM: uppercase; COLOR: #888; LETTER-SPACING: 1px
}
#respond P {
	COLOR: #555
}
.login_alert {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #f5f5f5; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.login_alert P {
	FONT-WEIGHT: bold
}
.login_alert P A:hover {
	TEXT-DECORATION: underline
}
#commentform {
	BORDER-TOP: #bbb 1px dotted
}
#commentform P {
	MARGIN-BOTTOM: 1em
}
#commentform P A {
	TEXT-DECORATION: underline
}
#commentform P A:hover {
	TEXT-DECORATION: none
}
#commentform TEXTAREA {
	WIDTH: 100%
}
#commentform P .required {
	COLOR: #d00
}
#commentform P.allowed {
	BORDER-RIGHT: #bbb 0.1em dotted; PADDING-RIGHT: 0.4em; BORDER-TOP: #bbb 0px dotted; PADDING-LEFT: 0.4em; FONT-SIZE: 1em; BACKGROUND: #f9f7e4; PADDING-BOTTOM: 0.6em; BORDER-LEFT: #bbb 0.1em dotted; WIDTH: 100%; PADDING-TOP: 0.6em; BORDER-BOTTOM: #bbb 0.1em dotted
}
#commentform P.allowed SPAN {
	COLOR: #807e70
}
#commentform P.subscribe-to-comments LABEL {
	FONT-SIZE: 1em
}
#footer A {
	COLOR: #888; BORDER-BOTTOM: #ccc 1px solid
}
#footer A:hover {
	COLOR: #111
}
UL#tabs:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#content_box:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#sidebars_box:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.format_text:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.teasers_box:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.prev_next:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
UL.sidebar_list:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
BODY {
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
#header {
	PADDING-BOTTOM: 2.2em; PADDING-TOP: 2.2em
}
.post_box {
	PADDING-TOP: 2.2em
}
.headline_area {
	MARGIN-BOTTOM: 2.2em
}
.teasers_box {
	PADDING-BOTTOM: 2.2em; PADDING-TOP: 2.2em
}
#multimedia_box {
	MARGIN-BOTTOM: 2.2em
}
.headline_area IMG.alignleft {
	MARGIN: 0px 2.2em 2.2em 0px
}
.headline_area IMG.alignright {
	MARGIN: 0px 0px 2.2em 2.2em
}
.headline_area IMG.alignnone {
	MARGIN: 0px auto 2.2em 0px
}
.headline_area IMG.aligncenter {
	MARGIN: 0px auto 2.2em
}
.headline_area IMG.frame {
	BORDER-TOP-WIDTH: 0.1em; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; BORDER-LEFT-WIDTH: 0.1em; BORDER-BOTTOM-WIDTH: 0.1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; BORDER-RIGHT-WIDTH: 0.1em
}
.format_text H3 {
	FONT-SIZE: 1.28em; MARGIN: 1.83em 0px 0.61em; LINE-HEIGHT: 1.22em
}
.format_text H3.top {
	MARGIN: 0px 0px 0.61em
}
.format_text {
	FONT-SIZE: 1.4em; LINE-HEIGHT: 1.57em
}
.format_text P {
	MARGIN-BOTTOM: 1.57em
}
.format_text P.note {
	PADDING-RIGHT: 0.78em; PADDING-LEFT: 0.78em; PADDING-BOTTOM: 0.57em; PADDING-TOP: 0.57em
}
.format_text P.alert {
	PADDING-RIGHT: 0.78em; PADDING-LEFT: 0.78em; PADDING-BOTTOM: 0.57em; PADDING-TOP: 0.57em
}
.format_text .drop_cap {
	PADDING-RIGHT: 0.12em; PADDING-LEFT: 0px; FONT-SIZE: 3.57em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0.76em; PADDING-TOP: 0.04em
}
.format_text ACRONYM {
	FONT-SIZE: 0.78em
}
.format_text abbr {
	FONT-SIZE: 0.78em
}
.format_text CODE {
	FONT-SIZE: 0.92em
}
.format_text PRE {
	PADDING-RIGHT: 0.84em; PADDING-LEFT: 0.84em; FONT-SIZE: 0.92em; MARGIN-BOTTOM: 1.69em; PADDING-BOTTOM: 0.61em; LINE-HEIGHT: 1.38em; PADDING-TOP: 0.61em
}
.format_text UL {
	MARGIN: 0px 0px 1.57em 1.57em
}
.format_text OL {
	MARGIN: 0px 0px 1.57em 1.57em
}
.format_text UL UL {
	MARGIN: 0px 0px 0px 1.57em
}
.format_text UL OL {
	MARGIN: 0px 0px 0px 1.57em
}
.format_text OL UL {
	MARGIN: 0px 0px 0px 1.57em
}
.format_text OL OL {
	MARGIN: 0px 0px 0px 1.57em
}
.format_text DL {
	MARGIN-BOTTOM: 1.57em
}
.format_text DD {
	MARGIN-BOTTOM: 1.57em
}
.format_text BLOCKQUOTE {
	PADDING-LEFT: 0.78em; MARGIN: 0px 0px 1.57em 0.78em
}
.format_text BLOCKQUOTE.right {
	FONT-SIZE: 1.28em; WIDTH: 45%; LINE-HEIGHT: 1.22em
}
.format_text BLOCKQUOTE.left {
	FONT-SIZE: 1.28em; WIDTH: 45%; LINE-HEIGHT: 1.22em
}
.format_text BLOCKQUOTE.right {
	MARGIN: 0px 0px 1.22em 1.22em
}
.format_text BLOCKQUOTE.left {
	MARGIN: 0px 1.22em 1.22em 0px
}
.format_text IMG.left {
	MARGIN: 0px 1.57em 1.57em 0px
}
.format_text IMG.alignleft {
	MARGIN: 0px 1.57em 1.57em 0px
}
.format_text IMG.right {
	MARGIN: 0px 0px 1.57em 1.57em
}
.format_text IMG.alignright {
	MARGIN: 0px 0px 1.57em 1.57em
}
.format_text IMG.center {
	MARGIN: 0px auto 1.57em
}
.format_text IMG.aligncenter {
	MARGIN: 0px auto 1.57em
}
.format_text IMG.block {
	MARGIN: 0px auto 1.57em 0px
}
.format_text IMG.alignnone {
	MARGIN: 0px auto 1.57em 0px
}
.format_text IMG.frame {
	BORDER-TOP-WIDTH: 0.07em; PADDING-RIGHT: 0.71em; PADDING-LEFT: 0.71em; BORDER-LEFT-WIDTH: 0.07em; BORDER-BOTTOM-WIDTH: 0.07em; PADDING-BOTTOM: 0.71em; PADDING-TOP: 0.71em; BORDER-RIGHT-WIDTH: 0.07em
}
.format_text IMG.stack {
	MARGIN-LEFT: 1.57em
}
.format_text .ad {
	MARGIN-LEFT: 1.57em
}
.format_text .ad_left {
	MARGIN-RIGHT: 1.57em
}
.format_text .to_comments {
	FONT-SIZE: 0.85em; MARGIN-BOTTOM: 1.83em; LINE-HEIGHT: 1.83em
}
.format_text .to_comments SPAN {
	FONT-SIZE: 1.83em; LINE-HEIGHT: 1em
}
.format_text .post_tags {
	FONT-SIZE: 0.85em; MARGIN-BOTTOM: 1.83em; LINE-HEIGHT: 1.83em
}
#archive_info {
	PADDING-BOTTOM: 1.1em; PADDING-TOP: 1.1em
}
#archive_info P {
	MARGIN-BOTTOM: 1.1em
}
.prev_next {
	PADDING-BOTTOM: 1.1em; PADDING-TOP: 1.1em
}
.prev_next P {
	FONT-SIZE: 1em; LINE-HEIGHT: 2.2em
}
.post_nav .previous {
	MARGIN-BOTTOM: 0.55em
}
.post_nav A {
	FONT-SIZE: 1.3em; LINE-HEIGHT: 1.69em
}
.comments_intro {
	MARGIN: 4.4em 0px 0.7em 1.1em
}
.comments_intro P {
	FONT-SIZE: 1.2em; LINE-HEIGHT: 1.83em
}
.comments_intro SPAN {
	FONT-SIZE: 1.83em; LINE-HEIGHT: 1em
}
DL#comment_list DT {
	PADDING-TOP: 1.8em
}
DL#comment_list DT SPAN {
	FONT-SIZE: 1.2em; LINE-HEIGHT: 1.83em
}
DL#comment_list DT .comment_author {
	FONT-SIZE: 1.6em; LINE-HEIGHT: 1.37em
}
.avatar IMG {
	MARGIN-LEFT: 0.83em
}
.comment_time {
	PADDING-LEFT: 0.83em
}
.edit_comment {
	PADDING-LEFT: 0.83em
}
.comment_num {
	PADDING-LEFT: 0.83em
}
.comment_num A {
	PADDING-RIGHT: 0.27em; PADDING-LEFT: 0.27em; FONT-SIZE: 0.91em; PADDING-BOTTOM: 0.09em; LINE-HEIGHT: 2em; PADDING-TOP: 0.09em
}
DL#comment_list DD {
	PADDING-TOP: 1.1em
}
DL#trackback_list DT {
	PADDING-TOP: 1.1em
}
DL#trackback_list DT A {
	FONT-SIZE: 1.4em; LINE-HEIGHT: 1.57em
}
DL#trackback_list DD {
	FONT-SIZE: 1.2em; LINE-HEIGHT: 1.83em
}
.comments_closed {
	MARGIN: 4.4em 0px 2.2em 1.1em
}
#respond {
	MARGIN: 4.4em 0px 0.7em 1.1em
}
#respond P {
	FONT-SIZE: 1.6em; LINE-HEIGHT: 1.37em
}
.login_alert {
	PADDING-RIGHT: 0.78em; MARGIN-TOP: 4.4em; PADDING-LEFT: 0.78em; MARGIN-BOTTOM: 2.2em; PADDING-BOTTOM: 0.57em; PADDING-TOP: 0.57em
}
#commentform {
	PADDING-BOTTOM: 2.2em; PADDING-TOP: 1.1em
}
#commentform P {
	FONT-SIZE: 1.4em; LINE-HEIGHT: 1.57em
}
.login_alert P {
	FONT-SIZE: 1.4em; LINE-HEIGHT: 1.57em
}
#commentform LABEL {
	PADDING-LEFT: 0.78em
}
#commentform P.comment_box {
	MARGIN-BOTTOM: 0px; LINE-HEIGHT: 0.78em
}
#commentform TEXTAREA {
	BORDER-TOP-WIDTH: 0.07em; PADDING-RIGHT: 0.28em; PADDING-LEFT: 0.28em; BORDER-LEFT-WIDTH: 0.07em; BORDER-BOTTOM-WIDTH: 0.07em; PADDING-BOTTOM: 0.28em; LINE-HEIGHT: 1.57em; PADDING-TOP: 0.28em; HEIGHT: 12.57em; BORDER-RIGHT-WIDTH: 0.07em
}
#commentform P.allowed SPAN {
	FONT-SIZE: 1.2em; LINE-HEIGHT: 1.66em
}
#commentform .form_submit {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; FONT-SIZE: 1.14em; PADDING-BOTTOM: 0.31em; PADDING-TOP: 0.31em
}
#commentform P.subscribe-to-comments {
	FONT-SIZE: 1.4em
}
#commentform P.subscribe-to-comments LABEL {
	FONT-SIZE: 1em
}
.format_text .text_input {
	PADDING-RIGHT: 0.28em; PADDING-LEFT: 0.28em; PADDING-BOTTOM: 0.28em; PADDING-TOP: 0.28em; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
#commentform P .text_input {
	PADDING-RIGHT: 0.28em; PADDING-LEFT: 0.28em; PADDING-BOTTOM: 0.28em; PADDING-TOP: 0.28em; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
#commentform TEXTAREA {
	PADDING-RIGHT: 0.28em; PADDING-LEFT: 0.28em; PADDING-BOTTOM: 0.28em; PADDING-TOP: 0.28em; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
#commentform .form_submit {
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.sidebar .text_input {
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
UNKNOWN {
	FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
#column_wrap .sidebar UL.sidebar_list {
	PADDING-TOP: 2.2em
}
UL#tabs LI A {
	PADDING-RIGHT: 0.81em; PADDING-LEFT: 0.81em; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0.54em; PADDING-TOP: 0.54em
}
#header #logo {
	FONT-SIZE: 3.6em; LINE-HEIGHT: 1.16em
}
#header #tagline {
	FONT-SIZE: 1.4em; LINE-HEIGHT: 1.42em
}
.headline_area H1 {
	FONT-SIZE: 2.6em; LINE-HEIGHT: 1.3em
}
.headline_area H2 {
	FONT-SIZE: 2.6em; LINE-HEIGHT: 1.3em
}
.teaser H2 {
	
}
.headline_meta {
	FONT-SIZE: 1em; LINE-HEIGHT: 1.8em
}
.headline_meta .pad_left {
	PADDING-LEFT: 0.9em
}
.teaser .teaser_author {
	
}
.teaser .teaser_date {
	
}
.teaser .edit_post {
	
}
.teaser .teaser_category {
	
}
.teaser .teaser_comments {
	
}
.sidebar H3 {
	FONT-SIZE: 1em; MARGIN-BOTTOM: 0.61em; LINE-HEIGHT: 1.38em; LETTER-SPACING: 2px; FONT-VARIANT: small-caps
}
.sidebar {
	
}
UL.sidebar_list {
	LIST-STYLE-TYPE: none
}
LI.widget {
	FONT-SIZE: 1.3em; MARGIN-BOTTOM: 2.76em; LINE-HEIGHT: 1.38em
}
LI.tag_cloud {
	LINE-HEIGHT: 1.69em
}
LI.widget P {
	MARGIN-BOTTOM: 1.23em
}
LI.widget abbr {
	FONT-SIZE: 0.84em
}
LI.widget ACRONYM {
	FONT-SIZE: 0.84em
}
LI.widget CODE {
	FONT-SIZE: 0.84em
}
LI.widget UL LI {
	MARGIN-BOTTOM: 0.69em
}
LI.widget LI UL {
	MARGIN: 0.69em 0px 0px 1.38em
}
LI.widget .widget_box {
	BORDER-TOP-WIDTH: 0.07em; PADDING-RIGHT: 0.69em; PADDING-LEFT: 0.69em; BORDER-LEFT-WIDTH: 0.07em; BORDER-BOTTOM-WIDTH: 0.07em; PADDING-BOTTOM: 0.69em; PADDING-TOP: 0.69em; BORDER-RIGHT-WIDTH: 0.07em
}
UNKNOWN {
	PADDING-RIGHT: 0.23em; MARGIN-TOP: 0.46em; PADDING-LEFT: 0.23em; FONT-SIZE: 1em; PADDING-BOTTOM: 0.15em; PADDING-TOP: 0.15em
}
#calendar_wrap A {
	PADDING-RIGHT: 0.07em; PADDING-LEFT: 0.07em; PADDING-BOTTOM: 0.07em; PADDING-TOP: 0.07em
}
#calendar_wrap A:hover {
	PADDING-RIGHT: 0.07em; PADDING-LEFT: 0.07em; PADDING-BOTTOM: 0.07em; PADDING-TOP: 0.07em
}
TABLE#wp-calendar CAPTION {
	FONT-SIZE: 0.84em; LINE-HEIGHT: 2em
}
TABLE#wp-calendar TH {
	FONT-SIZE: 0.84em; LINE-HEIGHT: 2em; PADDING-TOP: 0.09em
}
TABLE#wp-calendar TD {
	FONT-SIZE: 1em; LINE-HEIGHT: 1.69em
}
TABLE#wp-calendar TD#next {
	FONT-SIZE: 0.84em; LINE-HEIGHT: 2em
}
TABLE#wp-calendar TD#prev {
	FONT-SIZE: 0.84em; LINE-HEIGHT: 2em
}
TABLE#wp-calendar TD#next {
	PADDING-RIGHT: 0.54em
}
TABLE#wp-calendar TD#prev {
	PADDING-LEFT: 0.54em
}
.sidebar .text_input {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.sidebar .form_submit {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
UNKNOWN {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
#footer {
	FONT-SIZE: 1.1em; LINE-HEIGHT: 1.63em; PADDING-TOP: 1em
}
#container {
	MARGIN: 0px auto; WIDTH: 99.7em
}
#page {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 2em; PADDING-TOP: 2em
}
#header {
	PADDING-RIGHT: 1.1em; PADDING-LEFT: 1.1em
}
#content_box {
	BACKGROUND: url(images/dot-ddd.gif) repeat-y 63.4em 0px; WIDTH: 100%
}
.no_sidebars {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#content {
	FLOAT: left; WIDTH: 63.4em
}
.no_sidebars #content {
	WIDTH: 100%
}
#feature_box {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em
}
.post_box {
	MARGIN: 0px 2.3em 0px 1.1em
}
.teasers_box {
	MARGIN: 0px 2.3em 0px 1.1em
}
.no_sidebars .post_box {
	MARGIN: 0px 1.1em
}
.teasers_box {
	WIDTH: 60em
}
.teaser {
	WIDTH: 28.9em
}
#archive_info {
	PADDING-RIGHT: 1.1em; PADDING-LEFT: 1.1em
}
.prev_next {
	PADDING-RIGHT: 1.1em; PADDING-LEFT: 1.1em
}
#sidebars {
	FLOAT: right; WIDTH: 32.2em
}
#comments {
	MARGIN-LEFT: 0em; MARGIN-RIGHT: 2.3em
}
.comments_intro {
	MARGIN-LEFT: 1.1em
}
#respond {
	MARGIN-LEFT: 1.1em
}
DL#comment_list DT {
	PADDING-RIGHT: 1.1em; PADDING-LEFT: 1.1em
}
DL#comment_list DD {
	PADDING-RIGHT: 1.1em; PADDING-LEFT: 1.1em
}
#commentform {
	PADDING-RIGHT: 2.3em; PADDING-LEFT: 1.1em
}
.login_alert {
	
}
.sidebar {
	WIDTH: 100%
}
.sidebar UL.sidebar_list {
	PADDING-RIGHT: 1.1em; PADDING-LEFT: 1.1em
}
#image_box IMG.square {
	WIDTH: 29.6em; HEIGHT: 29.6em
}
#image_box IMG.four_by_three {
	WIDTH: 29.6em; HEIGHT: 22.2em
}
#image_box IMG.three_by_four {
	WIDTH: 29.6em; HEIGHT: 39.5em
}
#image_box IMG.three_by_two {
	WIDTH: 29.6em; HEIGHT: 19.7em
}
#image_box IMG.two_by_three {
	WIDTH: 29.6em; HEIGHT: 44.4em
}
#image_box IMG.five_by_four {
	WIDTH: 29.6em; HEIGHT: 23.7em
}
#image_box IMG.four_by_five {
	WIDTH: 29.6em; HEIGHT: 37em
}
#image_box IMG.sixteen_by_nine {
	MARGIN: 0px auto; WIDTH: 29.6em; HEIGHT: 16.7em
}
#image_box IMG.nine_by_sixteen {
	MARGIN: 0px auto; WIDTH: 29.6em; HEIGHT: 52.6em
}
#image_box IMG.two_by_one {
	WIDTH: 29.6em; HEIGHT: 14.8em
}
#image_box IMG.one_by_two {
	WIDTH: 29.6em; HEIGHT: 59.2em
}
UNKNOWN {
	CLEAR: left; FLOAT: left; MARGIN: 0px 1.57em 1.57em 0px
}
UNKNOWN {
	CLEAR: right; FLOAT: right; MARGIN: 0px 0px 1.57em 1.57em
}
UNKNOWN {
	CLEAR: both; DISPLAY: block; FLOAT: none; MARGIN: 0px auto 1.57em
}
