HTML {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
APPLET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OBJECT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IFRAME {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H5 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H6 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
BLOCKQUOTE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
PRE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
abbr {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
ACRONYM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
ADDRESS {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
BIG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
CITE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
CODE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DEL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DFN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
EM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FONT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
INS {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
KBD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
Q {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
S {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SAMP {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SMALL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
STRIKE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
STRONG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SUB {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SUP {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
VAR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
B {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
U {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
I {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
CENTER {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LABEL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LEGEND {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
CAPTION {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TBODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TFOOT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
THEAD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	LINE-HEIGHT: 1
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
BLOCKQUOTE {
	quotes: none
}
Q {
	quotes: none
}
BLOCKQUOTE:unknown {
	content: none
}
BLOCKQUOTE:unknown {
	content: none
}
Q:unknown {
	content: none
}
Q:unknown {
	content: none
}
INS {
	TEXT-DECORATION: none
}
DEL {
	TEXT-DECORATION: line-through
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
BODY {
	FONT-SIZE: 80%; BACKGROUND: #fff; COLOR: #000; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center
}
CODE {
	FONT-FAMILY: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New; BACKGROUND-COLOR: #f5fdff
}
TEXTAREA {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-SIZE: 90%; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New
}
INPUT {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-SIZE: 100%; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
SELECT {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-SIZE: 100%; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
BUTTON {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-SIZE: 100%; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
INPUT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 5px 0px; PADDING-TOP: 3px
}
PRE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 10px; OVERFLOW: auto; BORDER-LEFT: #1087a4 5px solid; WIDTH: 650px; PADDING-TOP: 5px; FONT-FAMILY: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New; BACKGROUND-COLOR: #f5fdff; max-height: 600px
}
PRE {
	max-height: none
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 10px; BORDER-LEFT: #1087a4 5px solid; MARGIN-RIGHT: 15px; PADDING-TOP: 10px; BACKGROUND-COLOR: #f5fdff
}
B {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
I {
	FONT-STYLE: italic
}
EM {
	FONT-STYLE: italic
}
UL {
	MARGIN-BOTTOM: 1em; MARGIN-LEFT: 30px; LIST-STYLE-TYPE: disc
}
OL UL {
	MARGIN-BOTTOM: 0px
}
UL OL {
	MARGIN-BOTTOM: 0px
}
UL UL {
	MARGIN-BOTTOM: 0px
}
OL OL {
	MARGIN-BOTTOM: 0px
}
P {
	CLEAR: both; MARGIN-BOTTOM: 1em
}
OL {
	MARGIN-BOTTOM: 1em; MARGIN-LEFT: 30px; LIST-STYLE-TYPE: decimal
}
A {
	CURSOR: pointer; COLOR: #1086a4; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A:visited {
	COLOR: #13b3bd
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 170%; MARGIN-BOTTOM: 7px; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; MARGIN-BOTTOM: 7px; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 5px; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 20px; COLOR: #aaa; HEIGHT: 1px; BACKGROUND-COLOR: #aaa; BORDER-RIGHT-WIDTH: 0px
}
SUP {
	FONT-SIZE: 80%; POSITION: relative; TOP: -0.4em
}
SUB {
	FONT-SIZE: 80%; POSITION: relative; TOP: 0.3em
}
KBD {
	BORDER-RIGHT: #aaa 3px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; BORDER-LEFT: #bbb 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #888 3px solid; WHITE-SPACE: nowrap
}
P CODE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.comment-text CODE {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.display-none {
	DISPLAY: none
}
.date {
	FONT: 28px/35px Helvetica,sans-serif; WIDTH: 70px; COLOR: #ccc; WHITE-SPACE: nowrap; LETTER-SPACING: -2px; HEIGHT: 35px; TEXT-ALIGN: right
}
.date_brick {
	FLOAT: right; FONT: bold 12px/12px Verdana,Sans-Serif; MARGIN-LEFT: 10px; OVERFLOW: hidden; WIDTH: 45px; COLOR: #999; PADDING-TOP: 5px; LETTER-SPACING: 0px; HEIGHT: 30px; BACKGROUND-COLOR: #eee; TEXT-ALIGN: center
}
.revcell1 {
	VERTICAL-ALIGN: middle; WIDTH: 25px; CURSOR: pointer; TEXT-ALIGN: right
}
.revcell2 {
	FONT-WEIGHT: bold; FONT-SIZE: 250%; VERTICAL-ALIGN: middle; WIDTH: 50px; CURSOR: pointer; COLOR: #777; TEXT-ALIGN: left
}
.revcell3 {
	VERTICAL-ALIGN: top; WIDTH: 660px; PADDING-TOP: 8px
}
.revcell4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 185px; PADDING-TOP: 5px
}
.revcell5 {
	MARGIN-TOP: 10px; MARGIN-LEFT: 15px; WIDTH: 800px
}
.mini-counts {
	FONT-WEIGHT: bold; FONT-SIZE: 190%; VERTICAL-ALIGN: middle; HEIGHT: 25px
}
.vt {
	VERTICAL-ALIGN: top
}
.fw {
	WIDTH: 100%
}
.votecell {
	VERTICAL-ALIGN: top; WIDTH: 60px
}
#answers {
	CLEAR: both; WIDTH: 730px; PADDING-TOP: 5px
}
.answer {
	PADDING-BOTTOM: 20px; WIDTH: 730px; PADDING-TOP: 20px; BORDER-BOTTOM: #666 1px dotted
}
.post-signature {
	PADDING-LEFT: 5px; VERTICAL-ALIGN: top; WIDTH: 175px; PADDING-TOP: 2px; HEIGHT: 58px; TEXT-ALIGN: left
}
.owner {
	BACKGROUND-COLOR: #e1faff
}
.deleted-answer {
	BACKGROUND-COLOR: #e3d9d9
}
.downvoted-answer {
	COLOR: #888
}
.item-multiplier {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #444; MARGIN-RIGHT: 4px
}
.reputation-score {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #444; MARGIN-RIGHT: 2px
}
.relativetime {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#notify-table {
	FONT-WEIGHT: bold; FONT-SIZE: 130%; Z-INDEX: 100; LEFT: 0px; WIDTH: 100%; COLOR: #fff; FONT-FAMILY: Arial,Helvetica,sans-serif; LETTER-SPACING: -1px; POSITION: fixed; TOP: 0px
}
.notify TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; BORDER-BOTTOM: #a49708 1px solid; BACKGROUND-COLOR: #beb013; TEXT-ALIGN: center
}
.notify {
	WIDTH: 95%
}
.notify A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.notify-close A {
	BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 4px; BORDER-LEFT: #fff 2px solid; COLOR: #fff; BORDER-BOTTOM: #fff 2px solid; BACKGROUND-COLOR: #beb013; TEXT-DECORATION: none
}
.summaryinfo {
	COLOR: #999; TEXT-ALIGN: center
}
.summarycount {
	FONT-WEIGHT: bold; FONT-SIZE: 350%; COLOR: #999; TEXT-ALIGN: center
}
.link-separator {
	FONT-SIZE: 110%; MARGIN: 0px 2px; COLOR: #ccc
}
.post-taglist {
	CLEAR: both; MARGIN-BOTTOM: 10px
}
.post-menu {
	PADDING-TOP: 2px
}
UNKNOWN {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; COLOR: #999; PADDING-TOP: 0px
}
UNKNOWN {
	COLOR: #fff; BACKGROUND-COLOR: #999; TEXT-DECORATION: none
}
.edit-tags-wrapper {
	PADDING-RIGHT: 40px
}
UNKNOWN {
	MARGIN-RIGHT: 6px
}
.post-menu .link-separator {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.post-comments {
	WIDTH: 660px
}
.comments-container {
	BORDER-TOP: #aaa 1px dotted; MARGIN-TOP: 10px; PADDING-BOTTOM: 10px
}
.comments-link {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; COLOR: #888; PADDING-TOP: 0px
}
.comments-link:hover {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 0px; BACKGROUND-COLOR: #777; TEXT-DECORATION: none
}
.comments {
	COLOR: #444; LINE-HEIGHT: 135%
}
UNKNOWN {
	WIDTH: 100%
}
UNKNOWN {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px dotted
}
TR.comment-hover {
	BACKGROUND-COLOR: #fafafa
}
.comment IMG {
	VERTICAL-ALIGN: middle
}
IMG.comment-flag {
	VISIBILITY: hidden; CURSOR: pointer
}
IMG.comment-up {
	VISIBILITY: hidden; CURSOR: pointer
}
IMG.comment-delete {
	VISIBILITY: hidden; CURSOR: pointer
}
.comment-actions {
	PADDING-LEFT: 3px; WIDTH: 15px
}
.comment-score SPAN {
	PADDING-RIGHT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #666
}
.comment-text {
	PADDING-RIGHT: 6px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: text-top; PADDING-TOP: 0px
}
A.comment-user {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
A.owner {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
UNKNOWN {
	VERTICAL-ALIGN: baseline! important
}
.comment-date {
	COLOR: #999
}
UNKNOWN {
	MARGIN-TOP: 5px; VERTICAL-ALIGN: top; MARGIN-RIGHT: 5px; TEXT-ALIGN: left
}
.post-comments INPUT {
	MARGIN-TOP: 1px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: top; WIDTH: 100px
}
.post-comments TEXTAREA {
	MARGIN-BOTTOM: 4px; HEIGHT: 5em
}
.text-counter {
	MARGIN-RIGHT: 20px
}
.accept-answer-link {
	FONT-WEIGHT: bold; COLOR: #508850! important
}
.deleted-post {
	FONT-WEIGHT: bold! important; COLOR: #b65454! important
}
.deleted-post:hover {
	COLOR: #fff! important; BACKGROUND-COLOR: #b65454! important
}
.deleted-answer-info {
	MARGIN-TOP: 10px; MARGIN-LEFT: 3px; COLOR: #b65454
}
.search-highlight {
	FONT-WEIGHT: bold; COLOR: #333; BACKGROUND-COLOR: #ffc
}
.page-description {
	FONT-SIZE: 120%; MARGIN: 1.2em 1.2em 0.5em; COLOR: #333; LINE-HEIGHT: 120%
}
#footer {
	CLEAR: both; PADDING-RIGHT: 15px; BORDER-TOP: #000 7px solid; MARGIN-TOP: 30px; PADDING-LEFT: 15px; BACKGROUND: #fff; PADDING-BOTTOM: 15px; OVERFLOW: hidden; PADDING-TOP: 15px
}
#footer-menu {
	FONT-SIZE: 100%; FLOAT: left; COLOR: #ccc; LINE-HEIGHT: 30px
}
#footer-menu A {
	COLOR: #1086a4
}
#footer .container {
	
}
#footer-flair {
	FLOAT: right; MARGIN-LEFT: 12px
}
#svnrev {
	MARGIN-TOP: 5px; TEXT-ALIGN: right
}
#copyright {
	CLEAR: both; COLOR: #999
}
#copyright A {
	COLOR: #999; TEXT-DECORATION: underline
}
.content-page {
	FONT-SIZE: 120%; MARGIN: 1.2em; COLOR: #333; LINE-HEIGHT: 1.2
}
.user-list {
	FLOAT: left; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 225px; MARGIN-RIGHT: 10px; WHITE-SPACE: nowrap; HEIGHT: 21px; TEXT-ALIGN: left
}
.user-name {
	FLOAT: left; WIDTH: 125px
}
.user-flair {
	FLOAT: left
}
.user-info {
	WIDTH: 185px; HEIGHT: 35px
}
.user-info .user-gravatar32 {
	FLOAT: left; WIDTH: 32px; HEIGHT: 32px
}
.user-info .user-action-time {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 4px
}
.user-info .user-details {
	FLOAT: left; MARGIN-LEFT: 5px; OVERFLOW: hidden; WIDTH: 145px; WHITE-SPACE: nowrap
}
.user-details {
	COLOR: #888; LINE-HEIGHT: 17px
}
#revisions {
	MARGIN-TOP: 20px; MARGIN-LEFT: 20px
}
.revision TD {
	BACKGROUND-COLOR: #eee
}
.vote-revision TD {
	BACKGROUND-COLOR: #ddd
}
.owner-revision TD {
	BACKGROUND-COLOR: #e1faff
}
.revision-comment {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #333; LINE-HEIGHT: 1.4; PADDING-TOP: 3px; BACKGROUND-COLOR: #faf5c8
}
#markdown-help {
	LEFT: 520px; POSITION: absolute; TOP: 20px
}
.openid-identifier {
	PADDING-LEFT: 32px; BACKGROUND: url(http://sstatic.net/su/Img/openid-large.png) no-repeat left center; LINE-HEIGHT: 22px; HEIGHT: 22px
}
#answers-header {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; WIDTH: 730px
}
#question-header {
	MARGIN-BOTTOM: 20px; WIDTH: 960px; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
#question-header A {
	COLOR: #444
}
#question-header H2 {
	FONT-SIZE: 180%
}
#user-about-me {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; OVERFLOW: auto; WIDTH: 90%; BORDER-TOP-STYLE: none; LINE-HEIGHT: 120%; PADDING-TOP: 10px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 200px; BORDER-BOTTOM-STYLE: none
}
.answer-votes {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 110%; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 20px; COLOR: #555; PADDING-TOP: 4px; HEIGHT: 15px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.answer-hyperlink {
	FONT-WEIGHT: bold; COLOR: #555! important
}
.question-hyperlink {
	FONT-WEIGHT: bold; LINE-HEIGHT: 15px; WORD-WRAP: break-word
}
.answer-link {
	MARGIN-TOP: 5px; PADDING-LEFT: 10px; FLOAT: left; WIDTH: 700px; COLOR: #555
}
.answer-link A {
	FONT-WEIGHT: bold
}
.answer-summary {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.answer-paging {
	CLEAR: both; MARGIN-BOTTOM: 5px; HEIGHT: 30px
}
.user-details TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; COLOR: black; PADDING-TOP: 4px
}
.bounty-indicator {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 90%; FLOAT: left; PADDING-BOTTOM: 2px; COLOR: #fff; MARGIN-RIGHT: 5px; PADDING-TOP: 2px; BACKGROUND-COLOR: #1086a4; moz-border-radius: 3px; webkit-border-radius: 3px; border-radius: 3px
}
.bounty-indicator-tab {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; MARGIN-LEFT: -4px; COLOR: #fff; MARGIN-RIGHT: 5px; PADDING-TOP: 0px; BACKGROUND-COLOR: #1086a4; moz-border-radius: 3px; webkit-border-radius: 3px; border-radius: 3px
}
.bounty {
	BACKGROUND-COLOR: #e2fce2! important
}
.question-status {
	CLEAR: both; PADDING-RIGHT: 8px; MARGIN-TOP: 15px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -5px; PADDING-BOTTOM: 4px; WIDTH: 717px; LINE-HEIGHT: 180%; PADDING-TOP: 8px; BACKGROUND-COLOR: #eee
}
.question-status B {
	COLOR: maroon
}
.answer-title {
	COLOR: #bbb
}
.answer-title:visited {
	COLOR: #bbb
}
.history-table {
	MARGIN-BOTTOM: 10px; LINE-HEIGHT: 125%
}
.history-table TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.history-table P {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 10px
}
#noscript-warning {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%; Z-INDEX: 101; LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 100%; COLOR: #fff; PADDING-TOP: 5px; FONT-FAMILY: Arial,Helvetica,sans-serif; POSITION: fixed; TOP: 0px; BACKGROUND-COLOR: #ae0000; TEXT-ALIGN: center
}
#noscript-padding {
	PADDING-TOP: 3.5em
}
.container {
	MARGIN: 0px auto; WIDTH: 960px; ZOOM: 1; TEXT-ALIGN: left
}
#hsearch .textbox {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 16px; FONT-SIZE: 14px; BACKGROUND: url(http://sstatic.net/su/img/search.png) #fff no-repeat left center; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; HEIGHT: 20px; BORDER-BOTTOM-STYLE: none; max-width: 230px
}
#header {
	WIDTH: 100%; HEIGHT: 90px
}
#header #topbar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 3px; HEIGHT: 30px; BACKGROUND-COLOR: #eee; moz-border-radius-bottomleft: 3px; moz-border-radius-bottomright: 3px; webkit-border-radius-bottom-left: 3px; webkit-border-radius-bottom-right: 3px
}
#header #hlogo {
	FLOAT: left; WIDTH: 250px; HEIGHT: 48px
}
#header #hmenus {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 25px; WIDTH: 695px; PADDING-TOP: 20px
}
#header #topbar #hlinks {
	FLOAT: left; MARGIN: 0px 35px 0px 0px
}
#hlinks A {
	FONT-WEIGHT: bold; COLOR: #555
}
#header #topbar #hsearch {
	FLOAT: left
}
#system-message {
	CLEAR: both; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; PADDING-BOTTOM: 7px; MARGIN: 0px 0px 10px; COLOR: #735005; PADDING-TOP: 7px; TEXT-ALIGN: center
}
.system-message-color {
	BACKGROUND-COLOR: #ffefc6
}
#system-message A {
	COLOR: #c6860a
}
.nav {
	FONT-SIZE: 125%; FLOAT: left
}
.nav UL {
	MARGIN: 0px
}
.nav LI {
	DISPLAY: block; BACKGROUND: #1087a4; FLOAT: left; MARGIN-RIGHT: 7px
}
.nav .youarehere {
	BACKGROUND: #00bff3
}
.youarehere A {
	COLOR: #fff
}
.nav LI:hover {
	BACKGROUND-COLOR: #00bff3
}
.nav A {
	PADDING-RIGHT: 12px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; COLOR: #fff; PADDING-TOP: 6px; TEXT-DECORATION: none
}
#sidebar {
	FLOAT: right; MARGIN-BOTTOM: 60px; WIDTH: 220px
}
#mainbar {
	FLOAT: left; MARGIN-BOTTOM: 40px; WIDTH: 735px
}
#mainbar-full {
	WIDTH: 960px
}
#mainbar-footer {
	CLEAR: both; WIDTH: 100%
}
#feed-link {
	FLOAT: right; TEXT-ALIGN: right
}
#feed-link A {
	COLOR: #777
}
#feed-link-image {
	FLOAT: left; MARGIN-LEFT: 12px; MARGIN-RIGHT: 5px
}
#feed-link-text {
	FLOAT: left
}
#pageheader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #666 1px solid; HEIGHT: 34px
}
#pageheader H2 {
	FONT-SIZE: 170%; LINE-HEIGHT: 34px; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
#subheader {
	CLEAR: both; WIDTH: 100%; COLOR: #444; BORDER-BOTTOM: #999 1px solid; HEIGHT: 34px
}
#subheader H2 {
	FONT-SIZE: 170%; FLOAT: left; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 34px
}
#subheader A {
	COLOR: #444
}
#tabs {
	FONT-WEIGHT: bold; FLOAT: right
}
#tabs A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 11px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 11px; FONT-SIZE: 90%; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 8px 8px 0px 0px; BORDER-LEFT: #fff 1px solid; COLOR: #777; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 24px; TEXT-DECORATION: none
}
#tabs A:hover {
	BORDER-RIGHT: #777 1px solid; BORDER-TOP: #777 1px solid; MARGIN-TOP: 9px; BACKGROUND: #fff; BORDER-LEFT: #777 1px solid; LINE-HEIGHT: 20px; BORDER-BOTTOM: #fff 1px solid
}
#tabs A.youarehere {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 11px; BORDER-TOP: #777 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 11px; FONT-SIZE: 120%; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #777 1px solid; COLOR: black; LINE-HEIGHT: 28px; PADDING-TOP: 0px; BORDER-BOTTOM: #fffcf7 1px solid; HEIGHT: 30px
}
.tabs-question-user {
	FONT-WEIGHT: bold; FLOAT: right; WIDTH: 100%
}
.tabs-answer-user {
	FONT-WEIGHT: bold; FLOAT: right; WIDTH: 100%
}
.tabs-favorite-user {
	FONT-WEIGHT: bold; FLOAT: right; WIDTH: 100%
}
.tabs-question-user A {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #777 1px solid; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 120%; FLOAT: right; PADDING-BOTTOM: 3px; BORDER-LEFT: #777 1px solid; COLOR: #999; MARGIN-RIGHT: 3px; PADDING-TOP: 1px; BORDER-BOTTOM: #777 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif; TEXT-DECORATION: none
}
.tabs-answer-user A {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #777 1px solid; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 120%; FLOAT: right; PADDING-BOTTOM: 3px; BORDER-LEFT: #777 1px solid; COLOR: #999; MARGIN-RIGHT: 3px; PADDING-TOP: 1px; BORDER-BOTTOM: #777 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif; TEXT-DECORATION: none
}
.tabs-favorite-user A {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #777 1px solid; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 120%; FLOAT: right; PADDING-BOTTOM: 3px; BORDER-LEFT: #777 1px solid; COLOR: #999; MARGIN-RIGHT: 3px; PADDING-TOP: 1px; BORDER-BOTTOM: #777 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif; TEXT-DECORATION: none
}
.tabs-question-user A.youarehere {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #999 1px solid; COLOR: #fff; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #999
}
.tabs-answer-user A.youarehere {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #999 1px solid; COLOR: #fff; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #999
}
.tabs-favorite-user A.youarehere {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #999 1px solid; COLOR: #fff; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #999
}
.question-summary {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 11px; OVERFLOW: hidden; WIDTH: 730px; PADDING-TOP: 11px; BORDER-BOTTOM: #999 1px dotted
}
#question {
	CLEAR: both; WIDTH: 730px
}
#questions {
	CLEAR: both; FLOAT: left; WIDTH: 730px
}
.stats {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 0px 7px; WIDTH: 58px; PADDING-TOP: 4px
}
.statsarrow {
	FLOAT: right; WIDTH: 7px; HEIGHT: 32px
}
.statscontainer {
	FLOAT: left; WIDTH: 86px; MARGIN-RIGHT: 8px
}
.narrow .stats {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 7px; WIDTH: 48px; PADDING-TOP: 0px; HEIGHT: 48px
}
.narrow .status {
	PADDING-RIGHT: 5px; BORDER-TOP: transparent 2px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 3px 0px 0px; WIDTH: 48px; PADDING-TOP: 5px; BORDER-BOTTOM: transparent 2px solid; HEIGHT: 38px
}
.votes {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; COLOR: #555; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.narrow .votes {
	BORDER-RIGHT: transparent 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: transparent 2px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 3px 0px 0px; BORDER-LEFT: transparent 2px solid; WIDTH: 44px; PADDING-TOP: 5px; BORDER-BOTTOM: transparent 2px solid; HEIGHT: 38px
}
.vote-count-post {
	DISPLAY: block; FONT-SIZE: 240%
}
.vote-up {
	DISPLAY: block; MARGIN: 0px auto
}
.vote-down {
	DISPLAY: block; MARGIN: 0px auto
}
.views {
	COLOR: #999; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.cool {
	COLOR: #999! important
}
.warm {
	COLOR: #b6567a! important
}
.hot {
	COLOR: #dc3071! important
}
.supernova {
	COLOR: #ff0d68! important
}
.supernovabg {
	COLOR: #fff! important; BACKGROUND-COLOR: #ff0d68! important
}
.narrow .views {
	BORDER-RIGHT: transparent 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: transparent 2px solid; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 7px 0px 0px; BORDER-LEFT: transparent 2px solid; WIDTH: 44px; PADDING-TOP: 5px; BORDER-BOTTOM: transparent 2px solid; HEIGHT: 38px
}
.views STRONG {
	DISPLAY: block
}
.status {
	PADDING-RIGHT: 0px; MARGIN-TOP: -3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.narrow .status {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 3px 0px 0px; WIDTH: 48px; PADDING-TOP: 5px; HEIGHT: 38px
}
.status STRONG {
	DISPLAY: block; FONT-SIZE: 140%
}
.answered {
	COLOR: #71a311; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.answered-accepted {
	COLOR: #fff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #71a311; BORDER-BOTTOM-STYLE: none
}
.unanswered {
	COLOR: #a52211; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.summary {
	FLOAT: left; WIDTH: 635px
}
.excerpt .started {
	MARGIN-TOP: 5px; FLOAT: right; WIDTH: 185px; HEIGHT: 55px
}
.excerpt .tags {
	MARGIN-TOP: 5px; WIDTH: 410px
}
.summary H3 {
	FONT-SIZE: 130%
}
.narrow .summary {
	WIDTH: 540px
}
.excerpt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; LINE-HEIGHT: 1.2; PADDING-TOP: 0px
}
.excerpt P {
	MARGIN-BOTTOM: 3px
}
.tags {
	FLOAT: left; LINE-HEIGHT: 18px
}
.tags A:hover {
	TEXT-DECORATION: none
}
.started {
	FLOAT: right; WIDTH: 185px; COLOR: #999; LINE-HEIGHT: 18px
}
.narrow .started {
	WIDTH: auto; PADDING-TOP: 4px; WHITE-SPACE: nowrap
}
.started A {
	FONT-WEIGHT: bold
}
.started IMG {
	VERTICAL-ALIGN: baseline
}
.started .reputation-score {
	MARGIN-LEFT: 1px
}
.mod-flair {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; MARGIN-LEFT: 3px; COLOR: #1086a4
}
.module {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 2px; COLOR: #444; PADDING-TOP: 8px; BACKGROUND-COLOR: #fff
}
.module P.label-key {
	MARGIN-BOTTOM: 0px; COLOR: #444
}
.module P.label-value {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; COLOR: #444
}
.module .spacer {
	MARGIN-BOTTOM: 8px
}
.module H4 {
	FONT-SIZE: 130%; PADDING-BOTTOM: 7px; LINE-HEIGHT: 1.4
}
.module P A {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; COLOR: #fff; LINE-HEIGHT: 1.9em; PADDING-TOP: 4px; BACKGROUND-COLOR: #1086a4
}
.newuser {
	BACKGROUND: #beb013; COLOR: #fff; moz-border-radius: 5px; webkit-border-radius: 5px; border-radius: 5px
}
.newuser P A {
	COLOR: #fff; BACKGROUND-COLOR: #a49708
}
.newuser P {
	COLOR: #fff! important
}
.module P {
	FONT-SIZE: 120%; MARGIN-BOTTOM: 0.5em; COLOR: #000; LINE-HEIGHT: 1.3
}
.module UL {
	FONT-SIZE: 120%; MARGIN-LEFT: 15px; LINE-HEIGHT: 120%; MARGIN-RIGHT: 30px; LIST-STYLE-TYPE: square
}
.module LI {
	MARGIN-BOTTOM: 4px
}
#recent-tags .post-tag {
	FONT-SIZE: 100%; MARGIN: 0px; COLOR: black! important; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
#recent-tags .post-tag:hover {
	MARGIN: 0px; COLOR: #fff! important; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #777; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
#recent-tags .pop1 {
	FONT-WEIGHT: bold
}
#recent-tags .pop2 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%
}
.vote {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
.vote SPAN {
	DISPLAY: block; FONT-WEIGHT: bold; COLOR: #999
}
.vote IMG {
	CURSOR: pointer
}
.vote-favorite {
	MARGIN-BOTTOM: 5px
}
.favoritecount {
	MARGIN-TOP: -5px; COLOR: #999; TEXT-ALIGN: center
}
.favoritecount-selected {
	COLOR: #d4a849
}
.favorites-count {
	MARGIN-TOP: 13px; FLOAT: left; COLOR: #d4a849; TEXT-ALIGN: center
}
.favorites-count-off {
	MARGIN-TOP: 13px; FLOAT: left; COLOR: #919191; TEXT-ALIGN: center
}
.user-stats-table .question-summary {
	WIDTH: 800px
}
.user-stats-table .summary {
	WIDTH: 600px
}
#favorites-list .question-summary {
	WIDTH: 900px
}
#favorites-list .summary {
	WIDTH: 700px
}
.post-text {
	FONT-SIZE: 107%; MARGIN-BOTTOM: 5px; WIDTH: 660px; LINE-HEIGHT: 130%; MARGIN-RIGHT: 5px
}
.post-text HR {
	COLOR: #ddd; BACKGROUND-COLOR: #ddd
}
#wmd-preview IMG {
	max-width: 640px
}
.post-text IMG {
	max-width: 640px
}
FORM HR {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left
}
.form-item {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 10px
}
.form-submit {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 10px
}
.form-submit INPUT {
	BORDER-RIGHT: #888 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #888 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 130%; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #888 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #888 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
.form-item LABEL {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 115%; PADDING-BOTTOM: 3px; COLOR: #333
}
SPAN.form-error {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; MARGIN-LEFT: 5px; COLOR: #900
}
DIV.form-error {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #900
}
DIV.form-item-info {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; WIDTH: 80%; COLOR: #777; PADDING-TOP: 4px
}
#post-editor {
	WIDTH: 660px
}
.community-option {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; FLOAT: right; COLOR: #888; HEIGHT: 32px
}
.community-option INPUT {
	VERTICAL-ALIGN: middle
}
.community-option LABEL {
	VERTICAL-ALIGN: middle
}
UNKNOWN {
	DISPLAY: none; LINE-HEIGHT: 180%
}
#post-editor-hidden {
	DISPLAY: none
}
.page-sizer {
	MARGIN-TOP: 5px; DISPLAY: block; FLOAT: left; MARGIN-BOTTOM: 30px; PADDING-TOP: 5px
}
.pager {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.page-numbers {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 130%; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; COLOR: #999; MARGIN-RIGHT: 3px; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif; TEXT-DECORATION: none
}
.desc {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.page-numbers:hover {
	TEXT-DECORATION: none
}
.next {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.prev {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.current {
	BORDER-RIGHT: #1086a4 1px solid; BORDER-TOP: #1086a4 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #1086a4 1px solid; COLOR: #fff; BORDER-BOTTOM: #1086a4 1px solid; BACKGROUND-COLOR: #1086a4
}
.dots {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.error-notification {
	PADDING-RIGHT: 15px; DISPLAY: none; PADDING-LEFT: 15px; Z-INDEX: 1; PADDING-BOTTOM: 15px; CURSOR: pointer; PADDING-TOP: 15px; POSITION: absolute
}
.error-notification A {
	TEXT-DECORATION: underline
}
.error-notification LI {
	FONT-SIZE: 110%; PADDING-TOP: 3px
}
.system-alert {
	PADDING-RIGHT: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 5px; BACKGROUND-COLOR: #dc3071
}
.system-alert A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.popup {
	BORDER-RIGHT: #dc3071 10px solid; BORDER-TOP: #dc3071 10px solid; BORDER-LEFT: #dc3071 10px solid; BORDER-BOTTOM: #dc3071 10px solid; BACKGROUND-COLOR: #fff
}
.edit-tags {
	BORDER-RIGHT: #dc3071 10px solid; BORDER-TOP: #dc3071 10px solid; BORDER-LEFT: #dc3071 10px solid; BORDER-BOTTOM: #dc3071 10px solid; BACKGROUND-COLOR: #fff
}
.popup {
	PADDING-RIGHT: 15px; DISPLAY: none; PADDING-LEFT: 15px; Z-INDEX: 1; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; POSITION: absolute
}
.edit-tags {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.flag-menu {
	WIDTH: 22em; CURSOR: default
}
.flag-reasons {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 10px
}
.flag-reasons INPUT {
	CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.close-reasons INPUT {
	CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.flag-reasons LABEL {
	MARGIN-LEFT: 0.5em; CURSOR: pointer
}
.close-reasons LABEL {
	MARGIN-LEFT: 0.5em; CURSOR: pointer
}
.flag-reasons TEXTAREA {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 4px
}
.flag-comment {
	MARGIN-TOP: 15px; DISPLAY: none
}
.flag-cancel {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; FLOAT: left; CURSOR: pointer
}
.close-cancel {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; FLOAT: left; CURSOR: pointer
}
.flag-submit {
	DISPLAY: none; FONT-WEIGHT: bold; FONT-SIZE: 110%; FLOAT: right; CURSOR: pointer
}
.close-submit {
	DISPLAY: none; FONT-WEIGHT: bold; FONT-SIZE: 110%; FLOAT: right; CURSOR: pointer
}
.close-reasons LI {
	LIST-STYLE-TYPE: none
}
.close-duplicate-prompt {
	FONT-SIZE: 90%; COLOR: #555
}
.existing-linked-questions {
	MARGIN: 27px 0px 10px
}
.existing-linked-questions P {
	FONT-WEIGHT: bold; COLOR: #333
}
.existing-linked-questions LI {
	MARGIN-BOTTOM: 7px; LIST-STYLE-TYPE: none
}
.existing-linked-questions A {
	MARGIN-LEFT: 20px
}
.post-tag {
	BORDER-RIGHT: #14a7c6 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #14a7c6 2px solid; PADDING-LEFT: 5px; FONT-SIZE: 90%; PADDING-BOTTOM: 3px; MARGIN: 2px 2px 2px 0px; BORDER-LEFT: #14a7c6 2px solid; COLOR: #1087a4; LINE-HEIGHT: 2.4; PADDING-TOP: 3px; BORDER-BOTTOM: #14a7c6 2px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #fff; TEXT-DECORATION: none; moz-border-radius: 7px; webkit-border-radius: 7px; border-radius: 7px
}
.post-tag:visited {
	COLOR: #1087a4
}
.post-tag:hover {
	BORDER-RIGHT: #14a7c6 2px solid; BORDER-TOP: #14a7c6 2px solid; BORDER-LEFT: #14a7c6 2px solid; COLOR: #f3f1d9; BORDER-BOTTOM: #14a7c6 2px solid; BACKGROUND-COLOR: #14a7c6; TEXT-DECORATION: none
}
.badge {
	BORDER-RIGHT: #333 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #333 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 4px; MARGIN: 0px 3px 3px 0px; BORDER-LEFT: #333 1px solid; COLOR: #fff! important; LINE-HEIGHT: 1.9; PADDING-TOP: 4px; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: #333; TEXT-DECORATION: none; moz-border-radius: 6px; webkit-border-radius: 6px; border-radius: 6px
}
A.badge-woot {
	BORDER-RIGHT: #333 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #333 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 4px; MARGIN: 0px 3px 3px 0px; BORDER-LEFT: #333 1px solid; COLOR: #fff! important; LINE-HEIGHT: 1.9; PADDING-TOP: 4px; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: #333; TEXT-DECORATION: none; moz-border-radius: 6px; webkit-border-radius: 6px; border-radius: 6px
}
.badge:hover {
	BORDER-RIGHT: #555 1px solid; BORDER-TOP: #555 1px solid; BORDER-LEFT: #555 1px solid; BORDER-BOTTOM: #555 1px solid; BACKGROUND-COLOR: #555; TEXT-DECORATION: none
}
.badge1 {
	FONT-SIZE: 120%; MARGIN-LEFT: 3px; COLOR: #fc0
}
.badge2 {
	FONT-SIZE: 120%; MARGIN-LEFT: 3px; COLOR: #c0c0c0
}
.badge3 {
	FONT-SIZE: 120%; MARGIN-LEFT: 3px; COLOR: #c96
}
.badgecount {
	PADDING-LEFT: 1px; COLOR: #999
}
.diff-delete {
	COLOR: #ff5f5f; TEXT-DECORATION: line-through
}
.diff-add {
	BACKGROUND: #97ff97
}
.grippie {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 0px solid; BACKGROUND: url(http://sstatic.net/su/Img/grippie.png) #eee no-repeat center 2px; OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; CURSOR: s-resize; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 9px
}
.tagged-ignored {
	FILTER: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); BACKGROUND-COLOR: #fff; opacity: .5
}
.tagged-ignored-hidden {
	DISPLAY: none
}
.tagged-interesting {
	BACKGROUND-COLOR: #edfbff
}
#interestingAdd {
	MARGIN-LEFT: 5px; HEIGHT: 27px
}
#ignoredAdd {
	MARGIN-LEFT: 5px; HEIGHT: 27px
}
#interestingTag {
	HEIGHT: 19px
}
#ignoredTag {
	HEIGHT: 19px
}
.moderator-visible {
	COLOR: maroon
}
.everyonelovesstackoverflow {
	MARGIN-BOTTOM: 8px
}
.welovestackoverflow {
	BORDER-RIGHT: #eee 3px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 3px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #eee 3px solid; COLOR: #333; LINE-HEIGHT: 130%; PADDING-TOP: 5px; BORDER-BOTTOM: #eee 3px solid
}
#question-suggestions {
	OVERFLOW: hidden
}
.ac_results {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #777 1px solid; PADDING-LEFT: 0px; Z-INDEX: 99999; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #777 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #777 1px solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
.ac_highlight {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.ac_results UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.ac_results LI {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px; OVERFLOW: hidden; CURSOR: default; LINE-HEIGHT: 16px; PADDING-TOP: 2px; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif
}
.ac_loading {
	BACKGROUND: url(http://sstatic.net/su/Img/loading-spinner.gif) #fff no-repeat right center
}
.ac_over {
	COLOR: #fff; FONT-FAMILY: 'Trebuchet MS',Helvetica,sans-serif; BACKGROUND-COLOR: #1086a4
}
.tabs-question-user A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 120%; FLOAT: right; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; COLOR: #999; MARGIN-RIGHT: 3px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif; TEXT-DECORATION: none
}
.tabs-answer-user A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 120%; FLOAT: right; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; COLOR: #999; MARGIN-RIGHT: 3px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif; TEXT-DECORATION: none
}
.tabs-favorite-user A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 120%; FLOAT: right; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; COLOR: #999; MARGIN-RIGHT: 3px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Trebuchet MS,Helvetica,sans-serif; TEXT-DECORATION: none
}
.tabs-question-user {
	FONT-WEIGHT: bold; FLOAT: right; WIDTH: 100%
}
.tabs-answer-user {
	FONT-WEIGHT: bold; FLOAT: right; WIDTH: 100%
}
.tabs-favorite-user {
	FONT-WEIGHT: bold; FLOAT: right; WIDTH: 100%
}
.tabs-question-user A.youarehere {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #999 1px solid; COLOR: #fff; BORDER-BOTTOM: #999 1px solid
}
.tabs-answer-user A.youarehere {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #999 1px solid; COLOR: #fff; BORDER-BOTTOM: #999 1px solid
}
.tabs-favorite-user A.youarehere {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #999 1px solid; COLOR: #fff; BORDER-BOTTOM: #999 1px solid
}
.str {
	COLOR: maroon
}
.kwd {
	COLOR: #00008b
}
.com {
	COLOR: gray
}
.typ {
	COLOR: #2b91af
}
.lit {
	COLOR: maroon
}
.pun {
	COLOR: black
}
.pln {
	COLOR: black
}
.tag {
	COLOR: maroon
}
.atn {
	COLOR: red
}
.atv {
	COLOR: blue
}
.dec {
	COLOR: purple
}

@media Print    
{
.str {
	COLOR: #060
}
.kwd {
	FONT-WEIGHT: bold; COLOR: #006
}
.com {
	COLOR: #600; FONT-STYLE: italic
}
.typ {
	FONT-WEIGHT: bold; COLOR: #404
}
.lit {
	COLOR: #044
}
.pun {
	COLOR: #440
}
.pln {
	COLOR: #000
}
.tag {
	FONT-WEIGHT: bold; COLOR: #006
}
.atn {
	COLOR: #404
}
.atv {
	COLOR: #060
}
    }
#wmd-button-bar {
	CLEAR: both; FLOAT: left; MARGIN: 0px; WIDTH: 660px; HEIGHT: 35px; BACKGROUND-COLOR: #fff
}
#wmd-input {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 660px; LINE-HEIGHT: 1.2; PADDING-TOP: 3px; HEIGHT: 200px
}
#wmd-preview {
	CLEAR: both; BORDER-RIGHT: #ccc 2px dotted; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 2px dotted; MARGIN-TOP: 14px; PADDING-LEFT: 3px; FONT-SIZE: 107%; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 2px dotted; WIDTH: 660px; LINE-HEIGHT: 130%; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 2px dotted
}
#wmd-button-row {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 5px 10px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 20px
}
.wmd-spacer {
	DISPLAY: inline-block; MARGIN-LEFT: 14px; WIDTH: 1px; LIST-STYLE-TYPE: none; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: silver
}
.wmd-button {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: inline-block; BACKGROUND-IMAGE: url(http://sstatic.net/su/Img/wmd-buttons.png); MARGIN-LEFT: 5px; WIDTH: 20px; MARGIN-RIGHT: 5px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; POSITION: absolute; HEIGHT: 20px
}
UNKNOWN {
	DISPLAY: inline-block; WIDTH: 20px; POSITION: absolute; HEIGHT: 20px
}
#wmd-button-bar #wmd-bold-button {
	BACKGROUND-POSITION: 0px 0px; LEFT: 0px
}
#wmd-button-bar #wmd-italic-button {
	BACKGROUND-POSITION: -20px 0px; LEFT: 25px
}
#wmd-button-bar #wmd-spacer1 {
	LEFT: 50px
}
#wmd-button-bar #wmd-link-button {
	BACKGROUND-POSITION: -40px 0px; LEFT: 75px
}
#wmd-button-bar #wmd-quote-button {
	BACKGROUND-POSITION: -60px 0px; LEFT: 100px
}
#wmd-button-bar #wmd-code-button {
	BACKGROUND-POSITION: -80px 0px; LEFT: 125px
}
#wmd-button-bar #wmd-image-button {
	BACKGROUND-POSITION: -100px 0px; LEFT: 150px
}
#wmd-button-bar #wmd-spacer2 {
	LEFT: 175px
}
#wmd-button-bar #wmd-olist-button {
	BACKGROUND-POSITION: -120px 0px; LEFT: 200px
}
#wmd-button-bar #wmd-ulist-button {
	BACKGROUND-POSITION: -140px 0px; LEFT: 225px
}
#wmd-button-bar #wmd-heading-button {
	BACKGROUND-POSITION: -160px 0px; LEFT: 250px
}
#wmd-button-bar #wmd-hr-button {
	BACKGROUND-POSITION: -180px 0px; LEFT: 275px
}
#wmd-button-bar #wmd-spacer3 {
	LEFT: 300px
}
#wmd-button-bar #wmd-undo-button {
	BACKGROUND-POSITION: -200px 0px; LEFT: 325px
}
#wmd-button-bar #wmd-redo-button {
	BACKGROUND-POSITION: -220px 0px; LEFT: 350px
}
#wmd-button-bar #wmd-help-button {
	BACKGROUND-POSITION: -240px 0px; RIGHT: 0px
}
.wmd-prompt-background {
	BACKGROUND-COLOR: black
}
.wmd-prompt-dialog {
	BORDER-RIGHT: #999 3px solid; BORDER-TOP: #fff 3px solid; BORDER-LEFT: #fff 3px solid; BORDER-BOTTOM: #999 3px solid; BACKGROUND-COLOR: #ddd
}

@media Print    
{
#sidebar {
	DISPLAY: none
}
#nav {
	DISPLAY: none
}
#tabs {
	DISPLAY: none
}
#footer {
	DISPLAY: none
}
#hmenus {
	DISPLAY: none
}
#hlinks {
	DISPLAY: none
}
.post-menu {
	DISPLAY: none
}
.post-comments {
	DISPLAY: none
}
.notify {
	DISPLAY: none
}
#mainbar-footer {
	DISPLAY: none
}
FORM {
	DISPLAY: none
}
DIV.vote {
	DISPLAY: none
}
    }
#recent-badges TD {
	VERTICAL-ALIGN: baseline; OVERFLOW: hidden; WIDTH: 244px; WHITE-SPACE: nowrap; HEIGHT: 32px
}
