BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: ??
}
UNKNOWN {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
.non {
	DISPLAY: none
}
A {
	COLOR: #000; TEXT-DECORATION: none; outline-style: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
A.fd {
	COLOR: #396588; TEXT-DECORATION: none; outline-style: none
}
A.fd :hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.banner {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; MARGIN-BOTTOM: 10px; MARGIN-LEFT: auto; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 958px; MARGIN-RIGHT: auto; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 90px
}
.banner_l {
	BORDER-RIGHT: #d3d3d3 1px solid; FLOAT: left; WIDTH: 760px; HEIGHT: 90px
}
.banner_r {
	FLOAT: right; WIDTH: 190px; COLOR: #696969; LINE-HEIGHT: 20px; PADDING-TOP: 6px
}
.banner_r A {
	COLOR: #696969; TEXT-DECORATION: none
}
.banner_r A.lcnew {
	TEXT-DECORATION: none
}
.banner_r A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.subNav {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 960px; MARGIN-RIGHT: auto; PADDING-TOP: 2px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 28px
}
.subNav_logo {
	FLOAT: left; WIDTH: 93px; HEIGHT: 24px
}
.subNav_l {
	FLOAT: left; MARGIN-LEFT: 18px; WIDTH: 610px; PADDING-TOP: 10px
}
.subNav_l A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.subNav_l A:hover {
	BACKGROUND: #4a4a4a; COLOR: #fff; TEXT-DECORATION: none
}
.subNav_r {
	FLOAT: right; WIDTH: 199px; HEIGHT: 24px
}
.subNav_r_l {
	FLOAT: left; WIDTH: 142px
}
.subNav_r_BTn {
	FLOAT: right; WIDTH: 50px; HEIGHT: 24px
}
.text {
	WIDTH: 140px; HEIGHT: 20px
}
.wrap {
	MARGIN-BOTTOM: 20px; MARGIN-LEFT: auto; WIDTH: 960px; MARGIN-RIGHT: auto
}
.m_l {
	BORDER-RIGHT: #b7b7b7 1px solid; BORDER-TOP: #b7b7b7 1px solid; FLOAT: left; BORDER-LEFT: #b7b7b7 1px solid; WIDTH: 638px; BORDER-BOTTOM: #b7b7b7 1px solid
}
.m_l_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; COLOR: #525252; PADDING-TOP: 10px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 18px
}
.m_l_menu A {
	COLOR: #525252; TEXT-DECORATION: none
}
.m_l_menu A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
PRE {
	OVERFLOW-Y: hidden; FONT-SIZE: 12px; BACKGROUND: #e6e6e6; OVERFLOW-X: hidden; MARGIN: 0px 0px 1em; OVERFLOW: auto; WIDTH: 99%; FONT-FAMILY: 'Courier New' , Monospace
}
PRE OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE OL LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/010101bg.gif) repeat-y; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 1px 3em; COLOR: #5c5c5c; PADDING-TOP: 5px; LIST-STYLE-TYPE: decimal
}
PRE OL LI {
	PADDING-RIGHT: 3px! important; PADDING-LEFT: 10px! important; LIST-STYLE-POSITION: outside! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; COLOR: #5c5c5c; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px! important
}
PRE OL LI.alt {
	
}
PRE OL LI SPAN {
	COLOR: black
}
PRE .comment {
	COLOR: #008200
}
PRE .comments {
	COLOR: #008200
}
PRE .string {
	COLOR: blue
}
PRE .keyword {
	FONT-WEIGHT: bold; COLOR: #069
}
PRE .preprocessor {
	COLOR: gray
}
PRE .dp-xml .cdata {
	COLOR: #ff1493
}
PRE .dp-xml .tag {
	FONT-WEIGHT: bold; COLOR: #069
}
PRE .dp-xml .tag-name {
	FONT-WEIGHT: bold; COLOR: #069
}
PRE .dp-xml .attribute {
	COLOR: red
}
PRE .dp-xml .attribute-value {
	COLOR: blue
}
PRE .dp-sql .func {
	COLOR: #ff1493
}
PRE .dp-sql .op {
	COLOR: #808080
}
PRE .dp-rb .symbol {
	COLOR: #a70
}
PRE .dp-rb .variable {
	FONT-WEIGHT: bold; COLOR: #a70
}
PRE .dp-py .builtins {
	COLOR: #ff1493
}
PRE .dp-py .magicmethods {
	COLOR: #808080
}
PRE .dp-py .exceptions {
	COLOR: brown
}
PRE .dp-py .types {
	COLOR: brown; FONT-STYLE: italic
}
PRE .dp-py .commonlibs {
	COLOR: #8a2be2; FONT-STYLE: italic
}
PRE .dp-j .annotation {
	COLOR: #646464
}
PRE .dp-j .number {
	COLOR: #c00000
}
PRE .dp-delphi .number {
	COLOR: blue
}
PRE .dp-delphi .directive {
	COLOR: #008284
}
PRE .dp-delphi .vars {
	COLOR: #000
}
PRE .dp-css .value {
	COLOR: black
}
PRE .dp-css .important {
	COLOR: red
}
PRE .dp-c .vars {
	COLOR: #d00
}
PRE .dp-cpp .datatypes {
	FONT-WEIGHT: bold; COLOR: #2e8b57
}
.m_l_cont {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f8f8f8
}
.m_l_cont_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 18px; BORDER-BOTTOM: #d3d3d3 1px solid; TEXT-ALIGN: center
}
.m_l_cont_title H3 {
	FONT-SIZE: 20px; FONT-FAMILY: "??"
}
.m_l_cont_title H1 {
	FONT-SIZE: 20px; FONT-FAMILY: "??"
}
.m_l_cont_note {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 16px; COLOR: #525252; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.m_l_cont_note A {
	COLOR: #c00; TEXT-DECORATION: none
}
.m_l_cont_note A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_cont_note1 {
	BORDER-RIGHT: #d3d3d3 1px dashed; PADDING-RIGHT: 12px; BORDER-TOP: #d3d3d3 1px dashed; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; BORDER-LEFT: #d3d3d3 1px dashed; COLOR: #006600; LINE-HEIGHT: 24px; PADDING-TOP: 6px; BORDER-BOTTOM: #d3d3d3 1px dashed; BACKGROUND-COLOR: #ffffff
}
.m_l_cont_note1 A {
	COLOR: #0e60ac; TEXT-DECORATION: underline
}
.m_l_cont_note1 A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_cont_note1_r {
	TEXT-ALIGN: right
}
.m_l_cont_text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 6px; LINE-HEIGHT: 26px; PADDING-TOP: 6px
}
.m_l_cont_text LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 12px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; LIST-STYLE-TYPE: decimal
}
.m_l_cont_text A {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.m_l_cont_text A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_cont_text UL {
	PADDING-LEFT: 20px; COLOR: #0000ff; LINE-HEIGHT: 30px
}
.m_l_cont_feihua {
	PADDING-RIGHT: 20px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px; HEIGHT: 20px
}
.m_l_cont_feihua A {
	COLOR: #000; TEXT-DECORATION: underline
}
.m_l_cont_feihua A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_cont_text OL {
	PADDING-LEFT: 20px; COLOR: #000; LINE-HEIGHT: 30px
}
.m_l_cont_text OL LI {
	PADDING-LEFT: 14px; BACKGROUND-IMAGE: url(../AppData/Roaming/Adobe/Dreamweaver%20CS4/zh_CN/Configuration/images/dt1.gif); COLOR: #000; BACKGROUND-REPEAT: no-repeat
}
.m_l_cont_text P {
	MARGIN: 10px 0px; TEXT-INDENT: 28px
}
.m_l_cont_text_note {
	FONT-SIZE: 12px; TEXT-ALIGN: right
}
.m_l_cont_tips {
	PADDING-RIGHT: 0px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 13px; BORDER-BOTTOM: #d3d3d3 1px solid; TEXT-ALIGN: center
}
.m_l_cont_tips A {
	COLOR: #000; TEXT-DECORATION: underline
}
.m_l_cont_tips A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_list {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 156px; BACKGROUND-COLOR: #f8f8f8
}
.m_l_list_l {
	FLOAT: left; WIDTH: 290px; COLOR: #396588; LINE-HEIGHT: 24px; PADDING-TOP: 10px
}
.m_l_list_l A {
	COLOR: #396588; TEXT-DECORATION: none
}
.m_l_list_l A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_list_l1 {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #006600
}
.m_l_list_l1 A {
	COLOR: #006600; TEXT-DECORATION: none
}
.m_l_list_l1 A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_list_r {
	FLOAT: right; WIDTH: 290px; COLOR: #396588; LINE-HEIGHT: 24px; PADDING-TOP: 10px
}
.m_l_list_r A {
	COLOR: #396588; TEXT-DECORATION: none
}
.m_l_list_r A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_list_r1 {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #006600
}
.m_l_list_r1 A {
	COLOR: #006600; TEXT-DECORATION: none
}
.m_l_list_r1 A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_l_list_hot {
	PADDING-LEFT: 16px; HEIGHT: 106px; BACKGROUND-COLOR: #fff
}
.m_l_list_hot1 {
	BORDER-RIGHT: #b7b7b7 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b7b7b7 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 12px 8px 10px; BORDER-LEFT: #b7b7b7 1px solid; WIDTH: 100px; PADDING-TOP: 1px; BORDER-BOTTOM: #b7b7b7 1px solid; HEIGHT: 80px
}
.m_l_comm {
	PADDING-RIGHT: 20px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 30px
}
.m_l_comm_l {
	FLOAT: left; WIDTH: 430px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.m_l_comm_l A {
	COLOR: #396588; TEXT-DECORATION: none
}
.m_l_comm_l A:hover {
	COLOR: #396588; TEXT-DECORATION: underline
}
.m_l_comm_l1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #396588
}
.m_l_comm_l_view {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BACKGROUND-IMAGE: url(../images/View_bg.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 95px; COLOR: #396588; PADDING-TOP: 6px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.m_l_comm_r {
	FLOAT: right; WIDTH: 120px; HEIGHT: 45px
}
.m_l_comm_r_good {
	MARGIN-TOP: 6px; FLOAT: left; BACKGROUND-IMAGE: url(../images/good_bg.gif); WIDTH: 54px; HEIGHT: 45px; TEXT-ALIGN: center
}
.m_l_comm_r_good1 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #a90000; PADDING-TOP: 7px
}
.m_l_comm_r_good2 {
	PADDING-TOP: 5px
}
.m_l_comm_r_good3 {
	MARGIN-TOP: 6px; FLOAT: left; BACKGROUND-IMAGE: url(../images/good_bg.gif); MARGIN-LEFT: 7px; WIDTH: 54px; HEIGHT: 45px; TEXT-ALIGN: center
}
.m_l_Comments {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 14px; PADDING-TOP: 16px; BORDER-BOTTOM: #d3d3d3 1px solid; BACKGROUND-COLOR: #f8f8f8
}
.m_l_Comments TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; PADDING-TOP: 6px
}
.m_l_Comments1 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 14px; PADDING-TOP: 16px; BACKGROUND-COLOR: #f8f8f8
}
.m_l_Comments2 {
	PADDING-TOP: 12px; HEIGHT: 86px
}
.m_r {
	BORDER-RIGHT: #aacaee 1px solid; BORDER-TOP: #aacaee 1px solid; FLOAT: right; BORDER-LEFT: #aacaee 1px solid; WIDTH: 310px; BORDER-BOTTOM: #aacaee 1px solid
}
.m_r_news {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(../images/sideBar_bg.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 10px; BORDER-BOTTOM: #e2e2e2 1px solid; HEIGHT: 16px
}
.m_r_news A {
	PADDING-BOTTOM: 8px; COLOR: #396588; TEXT-DECORATION: none
}
.m_r_news A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_r_news H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.m_r_news_l {
	FLOAT: left
}
.m_r_news_r {
	FLOAT: right
}
.m_r_news_list {
	PADDING-RIGHT: 12px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 24px; PADDING-TOP: 6px; BORDER-BOTTOM: #aacaee 1px solid
}
.m_r_news_im {
	PADDING-RIGHT: 32px; PADDING-LEFT: 32px; PADDING-BOTTOM: 0px; PADDING-TOP: 13px; HEIGHT: 114px; BACKGROUND-COLOR: #eee
}
.m_r_news_im_l {
	FLOAT: left; WIDTH: 104px
}
m_r_news_im_r {
	FLOAT: left; WIDTH: 104px
}
.m_r_news_im_l1 {
	BORDER-RIGHT: #b7b7b7 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b7b7b7 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #b7b7b7 1px solid; WIDTH: 100px; PADDING-TOP: 1px; BORDER-BOTTOM: #b7b7b7 1px solid; HEIGHT: 80px; BACKGROUND-COLOR: #fff
}
.m_r_news_im_l2 {
	PADDING-TOP: 8px; TEXT-ALIGN: center
}
.m_r_news_im_r {
	FLOAT: right
}
.m_r_book_im {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 9px; HEIGHT: 158px; BACKGROUND-COLOR: #eee
}
.m_r_book_im_l {
	BORDER-RIGHT: #b7b7b7 1px solid; BORDER-TOP: #b7b7b7 1px solid; FLOAT: left; BORDER-LEFT: #b7b7b7 1px solid; WIDTH: 98px; BORDER-BOTTOM: #b7b7b7 1px solid; HEIGHT: 144px
}
.m_r_book_im_r {
	FLOAT: right; WIDTH: 170px; LINE-HEIGHT: 22px; PADDING-TOP: 2px
}
.m_r_book_im_r H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.m_r_book_im_r1 {
	COLOR: #505050; LINE-HEIGHT: 20px
}
.m_r_Alerts {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 22px
}
.m_r_Alerts1 {
	FLOAT: left; WIDTH: 140px
}
.m_r_Alerts2 {
	PADDING-LEFT: 4px; FLOAT: left; WIDTH: 54px; PADDING-TOP: 8px
}
.m_r_Alerts2 A {
	PADDING-BOTTOM: 8px; COLOR: #ff0000; TEXT-DECORATION: none
}
.m_r_Alerts2 A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.m_r_Alerts3 {
	FLOAT: left; WIDTH: 44px
}
.m_r_banner {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 300px; PADDING-TOP: 5px; BORDER-BOTTOM: #aacaee 1px solid; HEIGHT: 258px
}
.foot {
	BORDER-TOP: #000 1px solid; MARGIN-LEFT: auto; WIDTH: 960px; MARGIN-RIGHT: auto; PADDING-TOP: 15px; HEIGHT: 25px; TEXT-ALIGN: center
}
.text {
	BORDER-RIGHT: #606060 1px solid; BORDER-TOP: #606060 1px solid; BORDER-LEFT: #606060 1px solid; WIDTH: 140px; BORDER-BOTTOM: #606060 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.test1 {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 133px; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #fff
}
.test2 {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 100%; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 71px; BACKGROUND-COLOR: #fff
}
.test3 {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 45px; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #fff
}
.test4 {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; WIDTH: 40px; PADDING-TOP: 2px; BORDER-BOTTOM: #aaa 1px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
.fa {
	FONT-SIZE: 12px; COLOR: #c00
}
.fb {
	COLOR: #606060
}
.fc {
	FONT-WEIGHT: bold
}
.fd {
	COLOR: #c00
}
.cle {
	CLEAR: both; DISPLAY: block; FONT: 0px/0px sans-serif
}
