.btn_lt-blue_44 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_lt-blue_44.gif) no-repeat; MARGIN: 0px; FONT: bold 10px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 44px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 17px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_44 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_lt-blue_44.gif) no-repeat; MARGIN: 0px; FONT: bold 10px/17px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 44px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 17px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_44:visited {
	COLOR: #ffffff
}
A.btn_lt-blue_44:hover {
	COLOR: #ffffff
}
A.btn_lt-blue_44:active {
	COLOR: #ffffff
}
.btn_lt-blue_40 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_lt-blue_80.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 40px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_40 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_lt-blue_80.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 40px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_40:visited {
	COLOR: #ffffff
}
A.btn_lt-blue_80:hover {
	COLOR: #ffffff
}
A.btn_lt-blue_80:active {
	COLOR: #ffffff
}
.btn_lt-blue_58 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_lt-blue_58.gif) no-repeat; MARGIN: 0px; FONT: bold 10px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 58px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 17px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_58 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_lt-blue_58.gif) no-repeat; MARGIN: 0px; FONT: bold 10px/17px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 58px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 17px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_58:visited {
	COLOR: #ffffff
}
A.btn_lt-blue_58:hover {
	COLOR: #ffffff
}
A.btn_lt-blue_58:active {
	COLOR: #ffffff
}
.btn_lt-blue_80 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_lt-blue_80.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 80px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_80 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_lt-blue_80.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 80px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_80:visited {
	COLOR: #ffffff
}
A.btn_lt-blue_80:hover {
	COLOR: #ffffff
}
A.btn_lt-blue_80:active {
	COLOR: #ffffff
}
.btn_lt-blue_115 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_lt-blue_115.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 115px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_115 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_lt-blue_115.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 115px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_115:visited {
	COLOR: #ffffff
}
A.btn_lt-blue_115:hover {
	COLOR: #ffffff
}
A.btn_lt-blue_115:active {
	COLOR: #ffffff
}
.btn_lt-blue_140 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_lt-blue_140.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 140px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_140 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_lt-blue_140.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 140px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_140:visited {
	COLOR: #ffffff
}
A.btn_lt-blue_140:hover {
	COLOR: #ffffff
}
A.btn_lt-blue_140:active {
	COLOR: #ffffff
}
.btn_lt-blue_160 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_lt-blue_160.gif) no-repeat; MARGIN: 0px; FONT: bold 12px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 160px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_160 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_lt-blue_160.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 160px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_lt-blue_160:visited {
	COLOR: #ffffff
}
A.btn_lt-blue_160:hover {
	COLOR: #ffffff
}
A.btn_lt-blue_160:active {
	COLOR: #ffffff
}
.btn_dr-blue_80 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_dr-blue_80.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 80px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_dr-blue_80 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_dr-blue_80.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 80px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_dr-blue_80:visited {
	COLOR: #ffffff
}
A.btn_dr-blue_80:hover {
	COLOR: #ffffff
}
A.btn_dr-blue_80:active {
	COLOR: #ffffff
}
.btn_dr-blue_115 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_dr-blue_115.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 115px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_dr-blue_115 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_dr-blue_115.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 115px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_dr-blue_115:visited {
	COLOR: #ffffff
}
A.btn_dr-blue_115:hover {
	COLOR: #ffffff
}
A.btn_dr-blue_115:active {
	COLOR: #ffffff
}
.btn_dr-blue_140 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_dr-blue_140.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 140px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_dr-blue_140 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_dr-blue_140.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 140px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_dr-blue_140:visited {
	COLOR: #ffffff
}
A.btn_dr-blue_140:hover {
	COLOR: #ffffff
}
A.btn_dr-blue_140:active {
	COLOR: #ffffff
}
.btn_gry_80 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_gry_80.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 80px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_gry_80 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_gry_80.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 80px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_gry_80:visited {
	COLOR: #ffffff
}
A.btn_gry_80:hover {
	COLOR: #ffffff
}
A.btn_gry_80:active {
	COLOR: #ffffff
}
.btn_gry_115 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_gry_115.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 115px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_gry_115 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_gry_115.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 115px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_gry_115:visited {
	COLOR: #ffffff
}
A.btn_gry_115:hover {
	COLOR: #ffffff
}
A.btn_gry_115:active {
	COLOR: #ffffff
}
.btn_gry_140 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../img/btn_gry_140.gif) no-repeat; MARGIN: 0px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 140px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_gry_140 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BACKGROUND: url(../img/btn_gry_140.gif) no-repeat; MARGIN: 0px; FONT: bold 11px/20px Verdana,Sans-Serif; BORDER-LEFT: 0px; WIDTH: 140px; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.btn_gry_140:visited {
	COLOR: #ffffff
}
A.btn_gry_140:hover {
	COLOR: #ffffff
}
A.btn_gry_140:active {
	COLOR: #ffffff
}
UNKNOWN {
	COLOR: gray
}
.css_btn {
	BORDER-RIGHT: #7089a3 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7089a3 1px solid; PADDING-LEFT: 4px; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#6FA3D1,endColorStr=#3A7CB5); PADDING-BOTTOM: 1px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: #7089a3 1px solid; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #7089a3 1px solid; BACKGROUND-COLOR: #4f91cd
}
A.css_btn {
	BORDER-RIGHT: #7089a3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #7089a3 1px solid; DISPLAY: inline-block; PADDING-LEFT: 9px; FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#6FA3D1,endColorStr=#3A7CB5); PADDING-BOTTOM: 3px; FONT: bold 11px Verdana,Sans-Serif; BORDER-LEFT: #7089a3 1px solid; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #7089a3 1px solid; BACKGROUND-COLOR: #4f91cd; TEXT-DECORATION: none
}
.css_btnHov {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#6FA3D1,endColorStr=#3A7CB5); COLOR: #ffffff; BACKGROUND-COLOR: #4f91cd; TEXT-DECORATION: none
}
A.css_btn:hover {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#6FA3D1,endColorStr=#3A7CB5); COLOR: #ffffff; BACKGROUND-COLOR: #4f91cd; TEXT-DECORATION: none
}
A.css_btn:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #d9d8e5; button: #000000
}
A.css_btn:active {
	FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #d9d8e5; button: #000000
}
.buttonSmall {
	FONT-SIZE: 9px; COLOR: #000000; BACKGROUND-COLOR: #d9d8e5
}
