P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; LINE-HEIGHT: 17px; PADDING-TOP: 0px
}
P.small {
	FONT-SIZE: 10px
}
P.padding {
	PADDING-LEFT: 15px
}
.rd {
	COLOR: #990000
}
#header P {
	WIDTH: 500px; PADDING-TOP: 10px
}
#header OL {
	WIDTH: 400px
}
#header LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#header UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 8px; WIDTH: 99%; LINE-HEIGHT: 16px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
#header UL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 17px; BACKGROUND: url(/files/images/fce/bullet-features.gif) no-repeat 0px 8px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
H2.h1 {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; COLOR: #ff9900; PADDING-TOP: 10px
}
H2 {
	CLEAR: none
}
#header H1 {
	FONT-SIZE: 20px
}
#header {
	PADDING-BOTTOM: 15px
}
UL.actions {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.actions LI A {
	DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(/files/images/fce/arrow-actions.gif) no-repeat 0px 4px
}
UL.actions LI A.active {
	PADDING-LEFT: 10px; BACKGROUND: url(/files/images/vam/home/arrow-actions-lite.gif) no-repeat 0px 4px; COLOR: #ff9900
}
UL.products {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/background-products.gif) repeat-y 462px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.productsl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.products LI {
	CLEAR: both
}
UL.productsl LI {
	CLEAR: both
}
UL.products DIV.head {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/background-products-head.gif) repeat-y; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.productsl DIV.head1 {
	BACKGROUND: url(/files/images/fce/bg-products-head1.gif) repeat-y
}
UL.products DIV.head H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/files/images/fce/bullet-dark.gif) no-repeat 7px 4px; PADDING-BOTTOM: 2px; COLOR: #fff; LINE-HEIGHT: 16px; PADDING-TOP: 0px
}
UL.productsl DIV.head1 H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/files/images/fce/bullet-dark.gif) no-repeat 7px 4px; PADDING-BOTTOM: 2px; COLOR: #fff; LINE-HEIGHT: 16px; PADDING-TOP: 0px
}
UL.productsl DIV.head1 H4 A {
	COLOR: #fff; LINE-HEIGHT: 18px
}
UL.products DIV.head H4 A {
	COLOR: #fff; LINE-HEIGHT: 22px
}
UL.products UL.actions {
	MARGIN-TOP: 5px; FLOAT: right; PADDING-BOTTOM: 8px; WIDTH: 164px; LIST-STYLE-TYPE: none
}
UL DIV.line DIV.action UL.actions {
	FLOAT: left; WIDTH: 164px; LIST-STYLE-TYPE: none
}
UL.products UL.actions LI {
	LINE-HEIGHT: 12px
}
UL .line .action UL.actions LI {
	LINE-HEIGHT: 12px
}
UL.products UL.actions LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(/files/images/fce/arrow-actions-lite.gif) no-repeat left 3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL DIV.line DIV.action UL.actions LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(/files/images/fce/arrow-actions-lite.gif) no-repeat left 3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.products P {
	MARGIN: 5px 180px 0px 0px
}
UL.productsl P {
	MARGIN: 8px 8px 8px 0px
}
UL.productsl DIV.line P {
	MARGIN: 5px 180px 8px 0px; OVERFLOW: hidden
}
UL.productsl .line {
	PADDING-BOTTOM: 8px; MARGIN: 5px 8px 18px 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px
}
UL.productsl .line DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 3px 30px 10px 10px; WIDTH: 410px; PADDING-TOP: 0px
}
UL.productsl .line DIV P {
	MARGIN: 0px
}
UL.productsl DIV.line DIV.action {
	FLOAT: left; MARGIN: 2px 0px 0px; WIDTH: 146px
}
UL.productsl P.title {
	CLEAR: both; MARGIN: 5px 28px 8px 0px
}
DIV.tabhead UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -1px -1px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: relative
}
OL {
	PADDING-LEFT: 30px; MARGIN-LEFT: 10px
}
DIV.tabhead UL LI {
	DISPLAY: block; Z-INDEX: 2; FLOAT: left; MARGIN: 0px 0px -6px; LINE-HEIGHT: 24px
}
DIV.tabhead UL LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 1px; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #336699
}
FIELDSET {
	CLEAR: both
}
DIV.tabhead UL LI A SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/separator-tabhead.gif) no-repeat right 50%; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.tabhead UL LI A.last SPAN {
	BACKGROUND: url(/files/images/fce/tabhead-last.gif) no-repeat right top
}
DIV.tabhead UL LI A.first {
	BACKGROUND: url(/files/images/fce/tabhead-first.gif) #336699 no-repeat left top
}
DIV.tabhead UL LI A.active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: url(/files/images/fce/tabhead-left.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; CURSOR: pointer; COLOR: #ff9900; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px; TEXT-DECORATION: none
}
DIV.tabhead UL LI A.active SPAN {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; BACKGROUND: url(/files/images/fce/tabhead-right.gif) no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 25px
}
DIV.tab {
	PADDING-RIGHT: 0px; BORDER-TOP: #a0c3e3 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 640px; PADDING-TOP: 0px
}
DIV.tabhead {
	WIDTH: 99%
}
DIV.columns {
	BACKGROUND: url(/files/images/fce/background-columns.gif) repeat-y 307px 0px; MARGIN: 10px 0px 20px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: auto
}
DIV.columns DIV.column {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 49%; PADDING-TOP: 0px
}
UL.col {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.blue {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.col LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/bullet-features.gif) no-repeat 0px 9px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 290px; LINE-HEIGHT: 12px; PADDING-TOP: 0px
}
UL.blue LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/bullet-features.gif) no-repeat 0px 9px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 600px; LINE-HEIGHT: 12px; PADDING-TOP: 0px
}
UL.col LI A {
	DISPLAY: block; PADDING-LEFT: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px
}
UL.blue LI A {
	DISPLAY: block; PADDING-LEFT: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px
}
UL.tables {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/bg_table1.gif) repeat-y 0px 50%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; WIDTH: 632px; PADDING-TOP: 0px; BORDER-BOTTOM: #a1c2e2 1px solid; LIST-STYLE-TYPE: none
}
UL.tables P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.tables STRONG {
	FONT-WEIGHT: bold
}
UL.tables LI {
	CLEAR: both; BORDER-TOP: #cccccc 1px solid; OVERFLOW: auto
}
UL.tables UL {
	LIST-STYLE-TYPE: square
}
UL.tables LI LI {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.head {
	BACKGROUND: url(/files/images/fce/background-products-head1.gif) repeat-y
}
DIV.head H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; LINE-HEIGHT: 22px; PADDING-TOP: 0px
}
DIV.head H4 A {
	COLOR: #fff
}
UL.tables LI .col1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 400px; PADDING-TOP: 5px
}
UL.tables LI .col2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; MARGIN: 0px 20px 0px 421px; PADDING-TOP: 5px
}
#content TABLE.comparison {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; WIDTH: 640px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fff
}
#content TABLE.general {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; WIDTH: 640px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fff
}
#content TABLE.comparison TH.firstcase {
	BORDER-RIGHT: #fff 1px solid; BACKGROUND-COLOR: #336699
}
#content TABLE.comparison TH.secondcase {
	BORDER-LEFT: white 1px solid; BACKGROUND-COLOR: #e4e4e4
}
#content TABLE.comparison TH.firstcase {
	PADDING-LEFT: 13px; FONT-SIZE: 12px; WIDTH: 35%; COLOR: white; HEIGHT: 32px; TEXT-ALIGN: left
}
#content TABLE.comparison TH.secondcase {
	PADDING-LEFT: 13px; FONT-SIZE: 12px; WIDTH: 35%; COLOR: white; HEIGHT: 32px; TEXT-ALIGN: left
}
#content TABLE.comparison TH.secondcase {
	COLOR: #336699
}
.player#content TABLE.comparison TH.firstcase {
	WIDTH: 33%
}
.player#content TABLE.comparison TH.secondcase {
	WIDTH: 33%
}
#content TABLE.comparison TR TD {
	BORDER-BOTTOM: #cccccc 1px solid
}
#content TABLE.comparison TD {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; PADDING-BOTTOM: 11px; VERTICAL-ALIGN: top; PADDING-TOP: 11px
}
#content TABLE.general TD {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px; PADDING-BOTTOM: 11px; VERTICAL-ALIGN: top; PADDING-TOP: 11px
}
#content TABLE.comparison TD {
	FONT-SIZE: 12px
}
#content TABLE.general TD {
	FONT-SIZE: 12px
}
#content TABLE.comparison TD  {
	FONT-SIZE: 12px
}
#content TABLE.general TD  {
	FONT-SIZE: 12px
}
#content TABLE.comparison TD.firstcase {
	BORDER-RIGHT: #a1c2e2 1px solid
}
#content TABLE.general TD {
	BORDER-RIGHT: #a1c2e2 1px solid
}
#content TABLE.general TD.odd {
	BORDER-RIGHT: #a1c2e2 1px solid
}
#content TABLE.comparison TD.secondcase {
	BORDER-LEFT: white 1px solid
}
#content TABLE.general TD.even {
	BORDER-LEFT: white 1px solid
}
#content TABLE.comparison UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 13px; PADDING-TOP: 0px
}
#content TABLE.comparison LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; LIST-STYLE-TYPE: square
}
DIV.callout_content {
	PADDING-RIGHT: 16px; BORDER-TOP: #a1c2e2 1px solid; PADDING-LEFT: 16px; BACKGROUND: url(/files/images/fce/bg_shadebox.gif) #fff repeat-x; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px
}
DIV.callblue {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/callout_blue_top_full.gif) #fcfcfc no-repeat 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.callout_content .inner {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; BACKGROUND: url(/files/images/fce/callout_blue_bottom_full.gif) no-repeat left bottom; PADDING-BOTTOM: 16px; MARGIN: 0px; PADDING-TOP: 16px
}
DIV.callout_content H4 {
	FONT-WEIGHT: bold; COLOR: #7d9bc6
}
DIV.rcolumn H4 {
	FONT-WEIGHT: bold; COLOR: #7d9bc6
}
DIV.rcolumn P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
DIV.callout_content H4 {
	MARGIN-TOP: 10px
}
DIV.callout_content BLOCKQUOTE {
	MARGIN: 0px
}
DIV.callout_content BLOCKQUOTE P {
	MARGIN: 12px 0px 0px
}
DIV.callout_content BLOCKQUOTE CITE {
	DISPLAY: block; MARGIN: 6px 0px; COLOR: #84848b; TEXT-ALIGN: right
}
DIV.callout_content P {
	MARGIN: 22px 0px 0px
}
DIV.callout_content A.citation {
	FONT-WEIGHT: bold; COLOR: #649cc6; TEXT-DECORATION: underline
}
DIV.callout_content A.citation:hover {
	COLOR: #eab719; TEXT-DECORATION: underline
}
DIV.callout_content .header {
	MARGIN: 0px 0px 12px
}
DIV.callout_content .logo {
	MARGIN-RIGHT: -5px
}
DIV.callout_content .logo IMG {
	MARGIN: 0px 5px 0px 0px
}
UL.callout_content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.callout_content LI {
	PADDING-RIGHT: 0px; BORDER-TOP: #cacac9 1px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: -1px 0px; WIDTH: 100%; PADDING-TOP: 8px; BORDER-BOTTOM: #cacac9 1px solid
}
#content BLOCKQUOTE {
	BACKGROUND: url(/files/images/fce/quote_top_full.gif) #fff no-repeat left top; MARGIN: 0px; COLOR: #666
}
#content BLOCKQUOTE DIV.inner {
	PADDING-RIGHT: 40px; PADDING-LEFT: 60px; BACKGROUND: url(/files/images/fce/quote_bottom_full.gif) no-repeat left bottom; PADDING-BOTTOM: 16px; MARGIN: 0px; PADDING-TOP: 16px
}
#content BLOCKQUOTE CITE {
	DISPLAY: block; MARGIN: 6px 0px; COLOR: #7d9bc6
}
.hide {
	DISPLAY: none; VISIBILITY: hidden
}
.show {
	DISPLAY: block; VISIBILITY: visible
}
DIV.teaser {
	MARGIN: 0px 0px 1px
}
DIV.teaser STRONG.head {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 14px; FONT-WEIGHT: normal; FONT-SIZE: 14px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
DIV.teaser DIV.inner {
	PADDING-RIGHT: 4px; PADDING-LEFT: 12px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; OVERFLOW: hidden; PADDING-TOP: 8px
}
DIV.teaser P {
	PADDING-LEFT: 5px; MARGIN: 0px; LINE-HEIGHT: 14px
}
DIV.teaser P.dark {
	MARGIN-BOTTOM: 4px; COLOR: #333333
}
DIV.teaser UL.actions {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
DIV.blue UL.actions {
	CLEAR: both
}
DIV.blue P {
	CLEAR: both
}
DIV.teaser UL.actions LI {
	LINE-HEIGHT: 16px
}
DIV.teaser UL.actions LI A {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold
}
DIV.blue {
	BACKGROUND: url(/files/images/fce/teaser-blue-top.gif) no-repeat
}
DIV.blue STRONG.head {
	BACKGROUND: url(/files/images/fce/bullet-teaser-blue.gif) no-repeat left 4px; COLOR: #fff
}
DIV.blue STRONG.head A {
	COLOR: #fff
}
DIV.blue DIV.inner {
	BACKGROUND: url(/files/images/fce/teaser-blue-bottom.gif) no-repeat left bottom; WIDTH: 210px
}
DIV.grey {
	BACKGROUND: url(/files/images/fce/teaser-grey-top.gif) no-repeat
}
DIV.grey STRONG.head {
	BACKGROUND: url(/files/images/fce/bullet-teaser-grey.gif) no-repeat left 50%; COLOR: #666666
}
DIV.grey STRONG.head A {
	COLOR: #666666
}
DIV.grey DIV.inner {
	BACKGROUND: url(/files/images/fce/teaser-grey-bottom.gif) no-repeat left bottom; WIDTH: 210px
}
DIV.grey DIV.inner IMG {
	MARGIN-RIGHT: 5px
}
DIV.teaser A.left {
	FLOAT: left; MARGIN-RIGHT: 5px
}
#features {
	MARGIN: 16px 9px 10px 10px
}
#features .header {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; COLOR: #666666; PADDING-TOP: 0px; BORDER-BOTTOM: #c5d4e9 1px solid
}
#features UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px; COLOR: #7d9bc6; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
#features UL LI {
	LINE-HEIGHT: 18px
}
#section {
	BACKGROUND: url(/files/images/fce/next-top.gif) no-repeat; WIDTH: 226px
}
#section DIV.inner {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: url(/files/images/fce/next-bottom.gif) no-repeat left bottom; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#section DIV.inner .header {
	PADDING-RIGHT: 6px; PADDING-LEFT: 16px; FONT-SIZE: 14px; BACKGROUND: url(/files/images/fce/bullet-teaser-grey.gif) no-repeat left 4px; PADDING-BOTTOM: 5px; MARGIN: 5px 10px; COLOR: #f69400; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
#section DIV.inner SPAN UL {
	PADDING-RIGHT: 13px; PADDING-LEFT: 29px; FONT-SIZE: 11px; PADDING-BOTTOM: 20px; MARGIN: 4px 0px 0px; COLOR: #7d9bc6; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
#section DIV.inner UL LI {
	LINE-HEIGHT: 18px
}
#faqs DT {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 5px; TEXT-ALIGN: justify
}
#faqs DD {
	MARGIN: 0px 1em 5px 0px
}
.rcolumn {
	FLOAT: right; MARGIN: 0px 0px 10px 16px; WIDTH: 45%
}
.lcolumn {
	PADDING-RIGHT: 20px; FLOAT: left
}
#content .rcolumn BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BACKGROUND: url(/files/images/fce/bg_quotehalf_top.gif) #fff no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content .rcolumn BLOCKQUOTE.callout {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BACKGROUND: url(/files/images/fce/callout_blue_top_half.gif) #fff no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 40px 0px 0px; WIDTH: 280px; PADDING-TOP: 0px
}
#content .rcolumn BLOCKQUOTE.callout DIV.inner {
	BACKGROUND: url(/files/images/fce/callout_blue_bottom_half.gif) no-repeat left bottom; MARGIN-LEFT: -2px
}
#content .rcolumn BLOCKQUOTE.callout DIV.inner P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content .rcolumn BLOCKQUOTE DIV.inner {
	PADDING-RIGHT: 40px; MARGIN-TOP: 1px; PADDING-LEFT: 15px; BACKGROUND: url(/files/images/fce/bg_quotehalf_bottom.gif) no-repeat left bottom; PADDING-BOTTOM: 15px; PADDING-TOP: 10px
}
DIV.ad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: url(/files/images/fce/bg_boiler.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 30px 0px 30px -2px; OVERFLOW: hidden; WIDTH: 638px; PADDING-TOP: 7px; HEIGHT: 56px
}
DIV.ad DIV.first {
	FLOAT: left
}
DIV.ad DIV.second {
	FLOAT: left
}
DIV.ad DIV.third {
	FLOAT: left
}
DIV.ad DIV.first {
	PADDING-RIGHT: 10px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.ad DIV.second {
	PADDING-RIGHT: 10px; MARGIN-TOP: -1px; PADDING-LEFT: 15px; BACKGROUND: url(/files/images/fce/sep_boiler.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; HEIGHT: 53px
}
DIV.ad STRONG.head {
	DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #f69401
}
DIV.ad UL.actions LI A {
	PADDING-LEFT: 10px
}
DIV.ad P {
	MARGIN: 0px
}
DIV.ad A.image {
	FLOAT: left; MARGIN-RIGHT: 10px
}
#showcase {
	PADDING-RIGHT: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#showcase .image {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
#showcase .description {
	BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 10px
}
#showcase .description P {
	FONT-SIZE: 11px
}
.plain#showcase .image {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.plain#showcase .description {
	BORDER-TOP-WIDTH: 0px
}
#showcase TH {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #454545; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-ALIGN: left
}
#showcase H4 A {
	COLOR: #000000
}
#showcase TD {
	VERTICAL-ALIGN: top
}
#screenshots {
	WIDTH: 99%
}
#screenshots UL {
	MARGIN: 0px
}
#screenshots LI {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 5px; MIN-HEIGHT: 210px; FLOAT: left; PADDING-BOTTOM: 7px; WIDTH: 44%; PADDING-TOP: 7px; TEXT-ALIGN: left
}
HR {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #c4ced4 1px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 6px 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
#shaded {
	CLEAR: both; PADDING-RIGHT: 16px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 16px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 12px
}
#shaded H4 {
	FONT-WEIGHT: bold; COLOR: #7d9bc6; PADDING-TOP: 10px
}
#shaded P {
	FONT-SIZE: 12px
}
#shaded LI {
	FONT-SIZE: 12px
}
#content TABLE.products TD STRONG {
	FONT-SIZE: 105%
}
.customer {
	PADDING-RIGHT: 16px; BORDER-TOP: #a1c2e2 1px solid; PADDING-LEFT: 16px; BACKGROUND: url(/files/images/fce/bg_shadebox.gif) #fff repeat-x; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 8px; PADDING-TOP: 4px
}
.customer .customer_link {
	MARGIN: 8px 0px 0px 280px; TEXT-ALIGN: right
}
.customer_cite {
	FONT-WEIGHT: bold
}
.customer_cite_smaller {
	FONT-WEIGHT: normal; FONT-SIZE: 10px
}
.customer_cite SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 10px
}
.customer H4 {
	FONT-WEIGHT: bold; COLOR: #7d9bc6; PADDING-TOP: 5px
}
.customer .desc {
	MARGIN: 0px 0px 0px 120px
}
#content TABLE.basic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse
}
#content TABLE.basic TH {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #454545; PADDING-TOP: 0px; BORDER-BOTTOM: #dadada 1px solid; HEIGHT: 28px; TEXT-ALIGN: left
}
#content TABLE.basic TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; BORDER-LEFT: #dadada 1px solid; PADDING-TOP: 5px; TEXT-ALIGN: left
}
#content TABLE.basic TR.endgroup TD {
	BACKGROUND: #eef4f8
}
UNKNOWN {
	BORDER-LEFT-STYLE: none
}
UNKNOWN {
	BORDER-LEFT: #dadada 1px solid
}
UL.bar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.bar LI {
	CLEAR: both
}
UL.bar DIV.barblue {
	BORDER-TOP: #ccc 1px solid; BACKGROUND: #f1f4f9; MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #ccc 1px solid
}
UL.bar DIV.barblue H4 {
	MARGIN-TOP: 8px; PADDING-LEFT: 15px; FONT-SIZE: 12px; COLOR: #346397; LINE-HEIGHT: 10px
}
UL.bar P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.download_text {
	PADDING-LEFT: 15px; WIDTH: 99%
}
UL.bar DIV.darkblue {
	BACKGROUND: #336799; COLOR: #fff; LINE-HEIGHT: 20px
}
UL.bar DIV.darkblue H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/files/images/fce/arw-orange.jpg) no-repeat 14px 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 400px; COLOR: #fff; PADDING-TOP: 0px
}
UL.bar DIV.darkblue H4 A {
	COLOR: #fff; TEXT-DECORATION: underline
}
UL.bar DIV.darkblue .title {
	PADDING-RIGHT: 12px; MARGIN-TOP: -20px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.bar DIV.darkblue .sign {
	PADDING-RIGHT: 12px; PADDING-LEFT: 8px; BACKGROUND: url(/files/images/fce/bg_whiteline.gif) no-repeat left 4px; FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: -20px 0px 2px; PADDING-TOP: 0px
}
UL.bar .first {
	PADDING-RIGHT: 15px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 15px; BACKGROUND: #f1f4f9; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px; BORDER-BOTTOM: #fff 1px solid
}
UL.bar .second {
	PADDING-RIGHT: 15px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 15px; BACKGROUND: #f8f8f8; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px; BORDER-BOTTOM: #fff 1px solid
}
UL.bar P.line {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid
}
UL.download {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.download DIV.head {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/background-products-head1.gif) repeat-y; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.download DIV.head H4 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 24px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/files/images/fce/bullet-dark.gif) no-repeat 7px 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid
}
UL.download DIV.head H4 A {
	COLOR: #fff; LINE-HEIGHT: 22px
}
UL.download H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 300px; PADDING-TOP: 10px
}
UL.download UL.action {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 280px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.download UL.action LI P {
	PADDING-RIGHT: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 10px; BACKGROUND: url(/files/images/fce/arrow-actions-lite.gif) no-repeat 0px 5px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.download UL.action LI A {
	FLOAT: none; MARGIN: 0px
}
UL.download DIV.row {
	PADDING-BOTTOM: 10px; MARGIN: 5px 8px 0px 0px; BORDER-BOTTOM: #ccc 1px solid
}
UL.download P {
	CLEAR: both; FLOAT: none; MARGIN: 5px 8px 0px 0px
}
.firstlevel#header .statement {
	RIGHT: 232px; BACKGROUND: url(/files/images/fce/bg_topsml.gif) no-repeat right top; WIDTH: 444px; COLOR: #434343; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; TOP: 128px; HEIGHT: auto; BORDER-BOTTOM-STYLE: none
}
.firstlevel#header .statement P {
	WIDTH: auto
}
.full#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/tpl/background-header-full-footer.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.full#header .overlay {
	PADDING-LEFT: 40px; BACKGROUND: url(/files/images/tpl/background-header-full.jpg) no-repeat right top; WIDTH: 679px; PADDING-TOP: 30px; HEIGHT: 187px
}
.full#header H1 {
	DISPLAY: inline; FLOAT: left
}
.full#header P {
	MARGIN-TOP: 20px; FONT-SIZE: 14px; WIDTH: 360px; COLOR: #7d9bc6; LINE-HEIGHT: 20px
}
.full#header UL.text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: -20px 10px 0px 0px; WIDTH: auto; PADDING-TOP: 0px
}
.full#header UL.text LI.first {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/full_heros/promo_fullhero_left.gif) no-repeat left 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 14px; PADDING-TOP: 0px; HEIGHT: 193px
}
.full#header UL.text LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(/files/images/full_heros/promo_fullhero_center.gif) repeat-x left 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px; HEIGHT: 193px
}
.full#header UL.text LI.last {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/full_heros/promo_fullhero_right.gif) no-repeat right 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 14px; PADDING-TOP: 0px; HEIGHT: 193px
}
.firstlevel#header UL.button {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 38px 0px 0px; WIDTH: auto; PADDING-TOP: 0px
}
.firstlevel#header UL.button LI.first {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/full_heros/bg_left.gif) no-repeat left 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 0px; HEIGHT: 36px
}
.firstlevel#header UL.button LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/full_heros/bg_middle.gif) repeat-x left 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px; HEIGHT: 36px
}
.firstlevel#header UL.button LI.last {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/full_heros/bg_right.gif) no-repeat right 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 8px; PADDING-TOP: 0px; HEIGHT: 36px
}
.firstlevel#header UL.button .statement {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; WIDTH: auto; COLOR: #fff; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; TOP: 0px; BORDER-BOTTOM-STYLE: none
}
.firstlevel#header UL.button P {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 9px
}
.firstlevel#header UL.button P A {
	PADDING-LEFT: 9px; BACKGROUND: url(/files/images/store/arrow-white.gif) no-repeat left 50%; COLOR: #fff
}
#contact_info .contact_content TABLE TH {
	BORDER-RIGHT: #c9d7e4 1px solid; BORDER-TOP: #c9d7e4 1px solid; PADDING-LEFT: 15px; FONT-SIZE: 13px; BACKGROUND: #c9d7e4; BORDER-LEFT: #c9d7e4 1px solid; BORDER-BOTTOM: #c9d7e4 1px solid; TEXT-ALIGN: left
}
#contact_info .contact_nav .text {
	LINE-HEIGHT: 18px; PADDING-TOP: 3px
}
#contact_info .contact_content .title {
	BORDER-RIGHT: #c9d7e4 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c9d7e4 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #c9d7e4; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #c9d7e4 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #c9d7e4 1px solid; TEXT-ALIGN: left
}
#contact_info .contact_content P {
	PADDING-LEFT: 18px
}
#contact_info TD.contact_content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #c9d7e4 1px solid; PADDING-TOP: 0px
}
.contact_home#contact_info TD.contact_content {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header .overlay H1 {
	FONT-SIZE: 30px; COLOR: #7d9bc6
}
#header .overlay {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: auto
}
#tabbox {
	CLEAR: both; BACKGROUND: url(/files/images/buttons/tabbox_top.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; WIDTH: 634px
}
DIV#tabbox .inner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/buttons/tabbox_bottom.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: visible; PADDING-TOP: 0px; HEIGHT: 3px
}
#description {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN-LEFT: 15px; WIDTH: 380px; PADDING-TOP: 20px; HEIGHT: auto
}
#nav_control {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; OVERFLOW: visible; WIDTH: 200px
}
#nav_control UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px
}
#nav_control LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 2px; WIDTH: 206px; PADDING-TOP: 5px; HEIGHT: 40px
}
#nav_control LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 170px; COLOR: #ffffff; PADDING-TOP: 5px; TEXT-DECORATION: underline
}
#nav_control LI.tabon A {
	TEXT-DECORATION: none
}
#nav_control LI.tabon {
	BACKGROUND: url(/files/images/buttons/tabbox_arrow.gif) no-repeat
}
#nav_control LI.taboff {
	BACKGROUND: url(/files/images/buttons/tabbox_bullet.gif) no-repeat 8px 12px
}
A:unknown {
	outline: none
}
#content .presentation {
	BACKGROUND: url(/files/images/fce/bg_shadebox.gif) #fff repeat-x; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 637px
}
.presentation UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content .presentation LI {
	FLOAT: left; WIDTH: 31%; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#content .presentation LI DIV.image {
	MARGIN: 20px 0px -10px; VERTICAL-ALIGN: bottom; WIDTH: 33%; HEIGHT: 125px
}
UNKNOWN {
	PADDING-BOTTOM: 10px
}
#content .presentation LI P {
	MARGIN: 0px; TEXT-ALIGN: center
}
#content .presentation LI SPAN.date {
	DISPLAY: block; MARGIN: 0px
}
.presentation .inner {
	PADDING-RIGHT: 18px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.presentation .image {
	PADDING-RIGHT: 16px; VERTICAL-ALIGN: top
}
H3 {
	PADDING-TOP: 10px
}
#content-right DIV.search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/vam/background-search.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; OVERFLOW: hidden; WIDTH: 226px; PADDING-TOP: 0px; HEIGHT: 80px
}
DIV.search DIV.searchtext {
	PADDING-LEFT: 24px; FLOAT: left; WIDTH: 200px; PADDING-TOP: 33px
}
DIV.search DIV.searchtext DIV.search-form INPUT.searchfield {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #999999 1px solid; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: 11px; FLOAT: left; PADDING-BOTTOM: 0pt; MARGIN: 0pt; BORDER-LEFT: #999999 1px solid; WIDTH: 140px; COLOR: #666666; LINE-HEIGHT: normal; PADDING-TOP: 2px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 16px; font-size-adjust: none
}
DIV.search DIV.searchtext DIV.search-form INPUT.search-button {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 3px; WIDTH: 20px; HEIGHT: 20px
}
UL {
	LIST-STYLE-TYPE: square
}
TABLE {
	FLOAT: none
}
DIV#boxes {
	BACKGROUND: url(/files/images/fce/bg_boxi.gif) no-repeat 0px 0px; WIDTH: 610px; HEIGHT: 193px
}
DIV.active#boxes {
	BACKGROUND: url(/files/images/fce/bg_boxa.gif) no-repeat 0px 0px
}
DIV#boxes H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND: url(/files/images/fce/btn_regular.gif) no-repeat 10px 10px; PADDING-BOTTOM: 0px; WIDTH: 133px; COLOR: #fff; PADDING-TOP: 19px; HEIGHT: 36px
}
DIV#boxes H3 A {
	COLOR: #fff
}
DIV#boxes P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 13px; PADDING-TOP: 0px
}
DIV#boxes P.hide {
	VISIBILITY: hidden
}
DIV#boxes H3.active {
	BACKGROUND: url(/files/images/fce/btn_active.gif) no-repeat 10px 10px
}
DIV#boxes DIV#col1 {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 150px
}
#boxes #col2 {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 150px
}
#boxes #col3 {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 150px
}
#boxes #col4 {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 150px
}
#col1_a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; LEFT: 40px; PADDING-BOTTOM: 0px; MARGIN: 50px 0px 0px; WIDTH: 590px; PADDING-TOP: 10px; POSITION: absolute; HEIGHT: 30px
}
#col2_a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; LEFT: 40px; PADDING-BOTTOM: 0px; MARGIN: 50px 0px 0px; WIDTH: 590px; PADDING-TOP: 10px; POSITION: absolute; HEIGHT: 30px
}
#col3_a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; LEFT: 40px; PADDING-BOTTOM: 0px; MARGIN: 50px 0px 0px; WIDTH: 590px; PADDING-TOP: 10px; POSITION: absolute; HEIGHT: 30px
}
#col4_a {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; LEFT: 40px; PADDING-BOTTOM: 0px; MARGIN: 50px 0px 0px; WIDTH: 590px; PADDING-TOP: 10px; POSITION: absolute; HEIGHT: 30px
}
DIV#boxes DIV.hide#col1_a {
	VISIBILITY: hidden
}
#boxes .hide#col2_a {
	VISIBILITY: hidden
}
#boxes .hide#col3_a {
	VISIBILITY: hidden
}
#boxes .hide#col4_a {
	VISIBILITY: hidden
}
DIV#boxes DIV.active#col1_a {
	VISIBILITY: visible
}
#boxes .active#col2_a {
	VISIBILITY: visible
}
#boxes .active#col3_a {
	VISIBILITY: visible
}
#boxes .active#col4_a {
	VISIBILITY: visible
}
DIV#boxes P.left {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 389px; LINE-HEIGHT: 16px
}
DIV#boxes UL {
	MARGIN-LEFT: 420px; WIDTH: 164px
}
DIV#boxes UL.actions LI A {
	DISPLAY: block; BACKGROUND: url(/files/images/fce/arrow-actions-lite.gif) no-repeat left 3px
}
DIV.box_2cols {
	BACKGROUND: url(/files/images/fce/bg_layout.gif) repeat-y 305px 0px; FLOAT: left; WIDTH: 680px
}
.box_2cols .layout {
	DISPLAY: block; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN-LEFT: 25px; WIDTH: 280px
}
.box_2cols .col {
	FLOAT: left; WIDTH: 280px
}
.box_2cols .block {
	PADDING-LEFT: 20px; BACKGROUND: url(/files/images/store/background-feature-block.gif) no-repeat; FLOAT: left
}
.box_2cols UL.links {
	PADDING-RIGHT: 0px; BORDER-TOP: #bcd4eb 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 14px; MARGIN: 0px; WIDTH: 280px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.box_2cols UL.links P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.box_2cols UL.links LI {
	LINE-HEIGHT: 20px; BORDER-BOTTOM: #bcd4eb 1px solid
}
.box_2cols UL.links LI A {
	DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(/files/images/store/arrow-right-lite.gif) no-repeat 1px 5px
}
.box_2cols UL.bigball {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 280px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
.box_2cols UL.bigball LI {
	BACKGROUND: url(/files/images/landing/try/bigball.gif) no-repeat 0px 4px
}
.box_2cols UL.bigball LI SPAN {
	DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #f69400
}
.box_2cols UL.bigball P {
	WIDTH: 280px; PADDING-TOP: 10px
}
DIV.form {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/store/bg_formtop.gif) no-repeat 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.form .inner {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/store/bg_formbottom.gif) no-repeat left bottom; PADDING-BOTTOM: 16px; MARGIN: 0px; PADDING-TOP: 0px
}
.collapsed {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(/files/images/buttons/button_collapse.gif) no-repeat 6px 6px; PADDING-BOTTOM: 4px; CURSOR: pointer; PADDING-TOP: 4px
}
.expanded {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(/files/images/buttons/button_expand.gif) no-repeat 6px 6px; PADDING-BOTTOM: 4px; CURSOR: pointer; PADDING-TOP: 4px
}
.menu {
	PADDING-LEFT: 12px
}
#content UL.plus LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 20px; FONT-SIZE: 12px; BACKGROUND: url(/files/images/buttons/button_collapse.gif) no-repeat 0px 6px; PADDING-BOTTOM: 5px; WIDTH: 310px; PADDING-TOP: 5px
}
UL.plus {
	LIST-STYLE-TYPE: none
}
#content UL.plus LI.left {
	FLOAT: left
}
.box_2cols UL.links LI A.normal {
	DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
UL.no LI A:hover {
	TEXT-DECORATION: none
}
UL.normal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content LI.arrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url(/files/images/fce/arrow-actions.gif) no-repeat left 5px; PADDING-BOTTOM: 2px; COLOR: #3366cc; PADDING-TOP: 2px
}
LI.arrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url(/files/images/fce/arrow-actions.gif) no-repeat left 5px; PADDING-BOTTOM: 2px; COLOR: #3366cc; PADDING-TOP: 2px
}
.bluebox {
	BACKGROUND: url(/files/images/fce/widebluetop.gif) no-repeat left top; FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 640px
}
.bluebox .inner {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; BACKGROUND: url(/files/images/fce/widebluebottom.gif) no-repeat left bottom; FLOAT: left; PADDING-BOTTOM: 16px; WIDTH: 640px; PADDING-TOP: 16px
}
.gradbox {
	BACKGROUND: url(/files/images/fce/gradbox.gif) #fff no-repeat left top; FLOAT: left; MARGIN: 10px 0px 20px; WIDTH: 640px
}
.gradline {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; BACKGROUND: url(/files/images/fce/line.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 1px; WIDTH: 128px; PADDING-TOP: 1px
}
.gradbox .last {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.gradline P {
	FONT-SIZE: 12px; COLOR: #3366cc; LINE-HEIGHT: 16px; PADDING-TOP: 16px
}
.blueline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/line.gif) no-repeat left -18px; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
#content .blueline LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#content-right .bluebox1 {
	BACKGROUND: url(/files/images/vam/home/blue-box2-middle-bg.gif) repeat-y; WIDTH: 226px
}
#content-right .bluebox1 .blue-box-inner {
	BACKGROUND: url(/files/images/vam/home/blue-box2-bottom-bg.gif) no-repeat 0px 100%; WIDTH: 226px
}
#content-right .bluebox1 .blue-box-inner .blue-box-holder {
	PADDING-RIGHT: 12px; PADDING-LEFT: 9px; BACKGROUND: url(/files/images/vam/home/blue-box2-top-bg.gif) no-repeat left top; PADDING-BOTTOM: 20px; WIDTH: 205px; PADDING-TOP: 1px
}
#content-right .bluebox1 STRONG.head {
	PADDING-RIGHT: 0px; PADDING-LEFT: 17px; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND: url(/files/images/vam/home/bullet-middle.gif) no-repeat 0px 3px; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px; COLOR: #fff; LINE-HEIGHT: 16px; PADDING-TOP: 0px; BORDER-BOTTOM: #8eb7e3 1px solid
}
#content-right .bluebox1 STRONG.head A {
	COLOR: #fff
}
#content-right .bluebox1 P {
	FONT-SIZE: 11px; MARGIN: 14px 0px 0px; COLOR: #fff; LINE-HEIGHT: 14px
}
#content-right .bluebox1 P A {
	COLOR: #fff; TEXT-DECORATION: underline
}
#content-right .bluebox1 P A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
DIV.my-account {
	FONT-SIZE: 11px; BACKGROUND: url(/files/images/store/my-account-top.gif) no-repeat; MARGIN-BOTTOM: 3px
}
DIV.my-account DIV.inner {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(/files/images/store/my-account-bottom.gif) no-repeat left bottom; PADDING-BOTTOM: 18px; OVERFLOW: hidden; PADDING-TOP: 2px; HEIGHT: 1%
}
DIV.my-account STRONG.head {
	DISPLAY: block; PADDING-LEFT: 18px; BACKGROUND: url(/files/images/store/bullet-middle.gif) no-repeat 0px 10px; MARGIN-BOTTOM: 5px; LINE-HEIGHT: 30px
}
DIV.my-account STRONG.head A {
	PADDING-RIGHT: 9px; BACKGROUND: url(/files/images/store/arrow-white.gif) no-repeat right 50%; COLOR: #fff
}
DIV.my-account SPAN.legend {
	DISPLAY: block; FLOAT: left; LINE-HEIGHT: 15px; MARGIN-RIGHT: 5px
}
DIV.my-account UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.my-account UL LI {
	PADDING-LEFT: 11px; BACKGROUND: url(/files/images/store/bullet-features.gif) no-repeat 0px 6px; LINE-HEIGHT: 15px
}
.top-box2 {
	BACKGROUND: url(/files/images/fce/top-box2-bg.gif) repeat-y; MARGIN: 0px 0px 12px; OVERFLOW: hidden; WIDTH: 640px
}
.top-box2 .col {
	FLOAT: left; WIDTH: 162px
}
.top-box2 .col .btn {
	FLOAT: left; MARGIN: 0px 0px 7px; OVERFLOW: hidden; WIDTH: 116px; TEXT-INDENT: -9999px; HEIGHT: 28px
}
.top-box2 .col2 {
	FLOAT: left; WIDTH: 300px
}
.top-box2 .col2 P {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 17px
}
.top-box2 .col2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 17px; PADDING-TOP: 15px; LIST-STYLE-TYPE: none
}
#content .top-box2 .col2 UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(/files/images/fce/list-sep.gif) no-repeat 0px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.infobox {
	BACKGROUND: url(/files/images/fce/sub-box-title-bg.gif) no-repeat; FLOAT: right; WIDTH: 154px
}
.infobox H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 7px 19px; COLOR: #fff; LINE-HEIGHT: 14px; PADDING-TOP: 0px
}
.infobox .infobox-inner {
	BORDER-RIGHT: #cecece 1px solid; BORDER-TOP: #cecece 0px solid; BACKGROUND: url(/files/images/fce/sub-box-bg.gif) repeat-x; FLOAT: left; BORDER-LEFT: #cecece 1px solid; WIDTH: 152px; BORDER-BOTTOM: #cecece 1px solid
}
.infobox UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #36c; LINE-HEIGHT: 22px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.infobox UL A {
	COLOR: #36c
}
.quotes {
	BACKGROUND: url(/files/images/fce/quotes-left.gif) no-repeat; MARGIN: 5px 0px 0px 30px; OVERFLOW: hidden; WIDTH: 206px
}
.quotes .quotes-inner {
	PADDING-RIGHT: 20px; PADDING-LEFT: 8px; FONT-SIZE: 11px; BACKGROUND: url(/files/images/fce/quotes-right.gif) no-repeat 100% 100%; FLOAT: left; PADDING-BOTTOM: 9px; WIDTH: 178px; PADDING-TOP: 13px
}
.quotes P {
	MARGIN: 0px; FONT: 12px Arial, Helvetica, sans-serif; COLOR: #666
}
H2.f18 {
	CLEAR: left; MARGIN: 0px; FONT: bold 18px Arial, Helvetica, sans-serif
}
.bottom-box {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/bottom-box-bg.gif) no-repeat; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; OVERFLOW: hidden; WIDTH: 643px; PADDING-TOP: 10px
}
.bottom-box .col {
	FLOAT: left; WIDTH: 212px
}
.bottom-box H3 {
	FONT-SIZE: 13px; MARGIN: 0px; COLOR: #f90
}
.bottom-box P {
	MARGIN: 2px 0px 0px
}
.bottom-box A.link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: url(/files/images/fce/arrow-actions.gif) no-repeat 0px 7px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 22px 0px 0px; WIDTH: 180px; COLOR: #06c; PADDING-TOP: 4px
}
.firstlevel#header .overlay .free {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: right; MARGIN: -86px 0px 0px; TEXT-TRANSFORM: uppercase; COLOR: #fff
}
.firstlevel#header .overlay .free P {
	MARGIN: 0px; TEXT-ALIGN: right
}
.firstlevel#header .overlay .free .btn {
	FLOAT: left; MARGIN: 10px 0px 0px 428px; OVERFLOW: hidden; WIDTH: 76px; TEXT-INDENT: -9999px; HEIGHT: 22px
}
.firstlevel#header .overlay H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: -24px 0px 0px; COLOR: #f90
}
.sub-box2 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 18px; MARGIN: 18px 0px; OVERFLOW: auto; WIDTH: 640px; PADDING-TOP: 0px; BORDER-BOTTOM: #7fa5cb 1px solid
}
.last {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 18px 0px 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.blue_header SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.blue_header EM {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #3266cb; FONT-STYLE: normal
}
.blue_header H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #3266cb; PADDING-TOP: 0px; FONT-STYLE: normal
}
.blue_header SPAN EM {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666; LINE-HEIGHT: 15px; FONT-STYLE: italic
}
.float_leftbox {
	FLOAT: left; MARGIN: 0px 22px 0px 0px
}
.float_rightbox {
	FLOAT: right; MARGIN: 0px 0px 0px 22px; WIDTH: 280px
}
.float_leftbox IMG {
	FLOAT: left
}
.blue14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #3366cc
}
#content .infobox LI.email {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/email.gif) no-repeat 0px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content .infobox LI.join {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/join.gif) no-repeat 0px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content .infobox LI.download {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/download.gif) no-repeat 0px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content .infobox LI.demo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/demo.gif) no-repeat 0px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sub-box3 {
	PADDING-RIGHT: 0pt; PADDING-LEFT: 0px; BACKGROUND: url(/files/images/fce/sub-box3-bg.gif) repeat-x 0px 0px; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 640px; PADDING-TOP: 14px
}
.sub-box3 H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #36c
}
.sub-box3 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 8px; LIST-STYLE-TYPE: none
}
.sub-box UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 8px; LIST-STYLE-TYPE: none
}
#content .sub-box3 UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; BACKGROUND: url(/files/images/fce/listblackbox.gif) no-repeat 0px 6px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.sub-box3 .columns {
	BACKGROUND: url(/files/images/fce/columns-bg.gif) repeat-y; FLOAT: left; MARGIN: 0px 0px 10px; WIDTH: 662px
}
.sub-box3 .columns .col {
	PADDING-RIGHT: 35px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 190px; PADDING-TOP: 0px
}
.sub-box3 .columns .last {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sub-box3 .columns .col H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #36c; LINE-HEIGHT: 17px; PADDING-TOP: 0px
}
.sub-box3 .columns .col H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 17px
}
.sub-box3 .columns .col P {
	MARGIN: 0px 0px 17px; FONT: 12px Arial, Helvetica, sans-serif; COLOR: #49523c
}
#content .sub-box3 .columns .col UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(/files/images/fce/bluebox.gif) no-repeat 0px 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content DIV.tab .sub-box UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(/files/images/fce/bluebox.gif) no-repeat 0px 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sub-box3 .columns .col .link {
	FONT: 12px/17px Arial, Helvetica, sans-serif; COLOR: #36c
}
DIV.tab .sub-box3 .side-box .link {
	FONT: 12px/17px Arial, Helvetica, sans-serif; COLOR: #36c
}
DIV.tab .sub-box .link {
	FONT: 12px/17px Arial, Helvetica, sans-serif; COLOR: #36c
}
.sub-box3 .columns .col .link STRONG {
	FONT-WEIGHT: bold; COLOR: #f90
}
DIV.tab .sub-box3 .side-box .link STRONG {
	FONT-WEIGHT: bold; COLOR: #f90
}
DIV.tab .sub-box .link STRONG {
	FONT-WEIGHT: bold; COLOR: #f90
}
.sub-box3 .side-box {
	FLOAT: left; WIDTH: 280px
}
.sub-box3 .right-side {
	PADDING-RIGHT: 0px; PADDING-LEFT: 70px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sub-box3 .side-box H3 {
	MARGIN: 0px; FONT: bold 16px Arial, Helvetica, sans-serif; COLOR: #333
}
.sub-box3 .side-box H4 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 14px Arial, Helvetica, sans-serif; COLOR: #ff9900; PADDING-TOP: 16px
}
.sub-box3 .side-box P {
	MARGIN: 0px; FONT: 12px/17px Arial, Helvetica, sans-serif; COLOR: #49523c
}
.sub-box3 .side-box UL.right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 27px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
.sub-box3 .side-box UL.clear {
	CLEAR: both; FLOAT: none; PADDING-BOTTOM: 0px
}
#content UL LI.listbluebox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(/files/images/fce/bluebox.gif) no-repeat 0px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content UL LI.listblackbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(/files/images/fce/listblackbox.gif) no-repeat 0px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sub-box3 .side-box .link {
	FLOAT: left; MARGIN: 20px 0px 0px
}
.sub-box3 .side-box H5 {
	MARGIN: 20px 0px 0px; FONT: bold 12px/17px Arial, Helvetica, sans-serif; COLOR: #404b38
}
.sub-boxes {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 32px; OVERFLOW: hidden; WIDTH: 660px; PADDING-TOP: 0px
}
.sub-box {
	PADDING-RIGHT: 60px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 284px; PADDING-TOP: 0px
}
.right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
H3.blue16 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 16px Arial, Helvetica, sans-serif; COLOR: #36c; PADDING-TOP: 0px
}
P.bottomline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px; FONT: 12px Arial, Helvetica, sans-serif; COLOR: #49523c; PADDING-TOP: 0px; BORDER-BOTTOM: #99b2cc 1px solid
}
UL.indent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content UL.indent LI {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: none transparent scroll repeat 0% 0%
}
#table-border-container {
	BORDER-RIGHT: #aec2d7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aec2d7 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #aec2d7 1px solid; WIDTH: 646px; PADDING-TOP: 0px
}
#table-border-container .left-tr {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 138px; PADDING-TOP: 10px; BORDER-BOTTOM: #aec2d7 1px solid; BACKGROUND-COLOR: #cfd8e2
}
#table-border-container .right-tr {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #aec2d7 1px solid
}
#table-border-container .right-tr P {
	MARGIN: 0px
}
.solution-box {
	MARGIN: 0px 0px 18px; OVERFLOW: hidden; WIDTH: 640px
}
.solution-box .col {
	FLOAT: left; WIDTH: 400px
}
.solution-box .col P {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 17px
}
.solution-box .col UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 17px; PADDING-TOP: 15px; LIST-STYLE-TYPE: none
}
#content .solution-box .col UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(/files/images/fce/list-sep.gif) no-repeat 0px 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.infobox1 {
	BACKGROUND: url(/files/images/fce/bg_bluehead.gif) no-repeat; FLOAT: right; MARGIN-BOTTOM: 20px; WIDTH: 201px
}
.infobox1 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 19px; COLOR: #fff; LINE-HEIGHT: 28px; PADDING-TOP: 0px
}
.infobox1 .infobox-inner {
	BORDER-RIGHT: #cecece 1px solid; BORDER-TOP: #cecece 0px solid; BACKGROUND: url(/files/images/fce/sub-box-bg.gif) repeat-x; FLOAT: left; BORDER-LEFT: #cecece 1px solid; WIDTH: 199px; BORDER-BOTTOM: #cecece 1px solid
}
.infobox1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #36c; LINE-HEIGHT: 22px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
UL.icon {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #36c; LINE-HEIGHT: 22px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.infobox1 UL A {
	COLOR: #36c
}
#content LI.icon_form {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/icon_form.gif) no-repeat 0px 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content LI.icon_cal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/icon_cal.gif) no-repeat 0px 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content LI.icon_twitter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/icon-twitter.gif) no-repeat 2px 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content LI.email {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/email.gif) no-repeat 0px 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content LI.download {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/download.gif) no-repeat 0px 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content LI.join {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/join.gif) no-repeat 0px 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content LI.demo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(/files/images/fce/demo.gif) no-repeat 0px 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.greybox {
	BACKGROUND: url(/files/images/fce/bg_greyhead.gif) no-repeat; FLOAT: right; MARGIN-BOTTOM: 20px; WIDTH: 201px
}
.greybox H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 6px 0px 0px 12px; LINE-HEIGHT: 18px; PADDING-TOP: 0px
}
.greybox .greybox-inner {
	BORDER-RIGHT: #cecece 1px solid; BORDER-TOP: #cecece 0px solid; FLOAT: left; BORDER-LEFT: #cecece 1px solid; WIDTH: 199px; BORDER-BOTTOM: #cecece 1px solid
}
.greybox UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #36c; LINE-HEIGHT: 16px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content .greybox LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.bigfirstlevel#header .overlay {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 40px; BACKGROUND: url(/files/images/fce/bg_bighead.jpg) no-repeat right top; PADDING-BOTTOM: 0pt; OVERFLOW: hidden; WIDTH: auto; PADDING-TOP: 34px; HEIGHT: 380px
}
.bigfirstlevel#header .overlay H1 {
	FONT-SIZE: 32px; COLOR: #ffba51
}
.bigfirstlevel#header .f14 {
	FONT-SIZE: 13px; MARGIN-BOTTOM: 8px; COLOR: #fff; LINE-HEIGHT: 20px
}
.bigfirstlevel#header .f12 {
	FONT-SIZE: 12px; COLOR: #fff
}
.bigfirstlevel#header .f14 A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.bigfirstlevel#header .f12 A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.bigfirstlevel#header P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 320px; LINE-HEIGHT: 18px; PADDING-TOP: 0px
}
.bigfirstlevel#header .overlay .btn {
	FLOAT: left; MARGIN: 10px 20px 0px 0px; OVERFLOW: hidden; WIDTH: 278px; TEXT-INDENT: -9999px; HEIGHT: 22px
}
.halfgreybox {
	BACKGROUND: url(/files/images/fce/halfgreytop.gif) no-repeat; FLOAT: left; WIDTH: 310px
}
.halfgreybox H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 10px; COLOR: #ff9900; LINE-HEIGHT: 18px; PADDING-TOP: 0px
}
.halfgreybox .halfgreybox-inner {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #cecece 0px solid; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 20px; BORDER-LEFT: #cecece 1px solid; WIDTH: 268px; PADDING-TOP: 20px; BORDER-BOTTOM: #cecece 1px solid
}
.firstlevel310#header .overlay {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 40px; BACKGROUND: url(/files/images/fce/bg_bighead310.jpg) no-repeat right top; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: auto; PADDING-TOP: 34px; HEIGHT: 308px
}
.firstlevel310#header .overlay H1 {
	FONT-SIZE: 32px; MARGIN: 0px 0px 2px; COLOR: #fff
}
.firstlevel310#header .overlay H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 6px; COLOR: #ff9900; PADDING-TOP: 0px
}
.firstlevel310#header .overlay H3 {
	COLOR: #fff
}
.firstlevel310#header .f14 {
	FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 20px
}
.firstlevel310#header .f12 {
	FONT-SIZE: 12px; COLOR: #fff
}
.firstlevel310#header .lf12 P {
	FONT-SIZE: 12px; WIDTH: 170px; COLOR: #fff
}
.firstlevel310#header .f14 A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.bigfirstlevel#header .f12 A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.firstlevel310#header .lf12 A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.firstlevel310#header .lf12 {
	COLOR: #fff
}
.firstlevel310#header P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 420px; COLOR: #fff; LINE-HEIGHT: 18px; PADDING-TOP: 0px
}
.firstlevel310#header .overlay .btn {
	FLOAT: left; MARGIN: 0px 10px 0px 0px; OVERFLOW: hidden; WIDTH: 215px; TEXT-INDENT: -9999px; HEIGHT: 22px
}
.firstlevel310#header UL {
	PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px
}
.firstlevel310#header UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND: url(/files/images/fce/bullet_white.gif) no-repeat 0px 8px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px
}
.firstlevel310#header UL LI.arrow {
	PADDING-RIGHT: 10px; PADDING-LEFT: 12px; BACKGROUND: url(/files/images/fce/arrow-actions.gif) no-repeat left 7px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.firstlevel310#header UL LI A {
	COLOR: #fff; TEXT-DECORATION: underline
}
.firstlevel310#header UL LI.arrow A {
	COLOR: #fff; TEXT-DECORATION: underline
}
A.launch {
	BACKGROUND: url(/files/images/buttons/btn_launch.gif) no-repeat
}
A.launchde {
	BACKGROUND: url(/files/de/images/buttons/btn_launchupgradeadvisor.gif) no-repeat
}
